swagger: '2.0'
info:
  version: '1.0'
  title: Stellar API
  description: 'TODO: Add Description'
  contact: {}
host: horizon-testnet.stellar.org
basePath: /
schemes:
- https
consumes:
- application/json
produces:
- application/json
paths:
  /accounts/:
    get:
      description: 'TODO: Add Description'
      summary: Accounts
      tags:
      - Misc
      operationId: AccountsGet
      deprecated: false
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Accounts'
          examples:
            application/json:
              _links:
                self:
                  href: https://horizon-testnet.stellar.org/accounts/GDXUJZFHERSRVXXA6UJK3XMU5Z2HXJNJNJK7TS7FYRVI4H6MF5WKE3CC
                transactions:
                  href: https://horizon-testnet.stellar.org/accounts/GDXUJZFHERSRVXXA6UJK3XMU5Z2HXJNJNJK7TS7FYRVI4H6MF5WKE3CC/transactions{?cursor,limit,order}
                  templated: true
                operations:
                  href: https://horizon-testnet.stellar.org/accounts/GDXUJZFHERSRVXXA6UJK3XMU5Z2HXJNJNJK7TS7FYRVI4H6MF5WKE3CC/operations{?cursor,limit,order}
                  templated: true
                payments:
                  href: https://horizon-testnet.stellar.org/accounts/GDXUJZFHERSRVXXA6UJK3XMU5Z2HXJNJNJK7TS7FYRVI4H6MF5WKE3CC/payments{?cursor,limit,order}
                  templated: true
                effects:
                  href: https://horizon-testnet.stellar.org/accounts/GDXUJZFHERSRVXXA6UJK3XMU5Z2HXJNJNJK7TS7FYRVI4H6MF5WKE3CC/effects{?cursor,limit,order}
                  templated: true
                offers:
                  href: https://horizon-testnet.stellar.org/accounts/GDXUJZFHERSRVXXA6UJK3XMU5Z2HXJNJNJK7TS7FYRVI4H6MF5WKE3CC/offers{?cursor,limit,order}
                  templated: true
                trades:
                  href: https://horizon-testnet.stellar.org/accounts/GDXUJZFHERSRVXXA6UJK3XMU5Z2HXJNJNJK7TS7FYRVI4H6MF5WKE3CC/trades{?cursor,limit,order}
                  templated: true
                data:
                  href: https://horizon-testnet.stellar.org/accounts/GDXUJZFHERSRVXXA6UJK3XMU5Z2HXJNJNJK7TS7FYRVI4H6MF5WKE3CC/data/{key}
                  templated: true
              id: GDXUJZFHERSRVXXA6UJK3XMU5Z2HXJNJNJK7TS7FYRVI4H6MF5WKE3CC
              paging_token: ''
              account_id: GDXUJZFHERSRVXXA6UJK3XMU5Z2HXJNJNJK7TS7FYRVI4H6MF5WKE3CC
              sequence: 2563584374603776
              subentry_count: 0
              last_modified_ledger: 596881
              thresholds:
                low_threshold: 0
                med_threshold: 0
                high_threshold: 0
              flags:
                auth_required: false
                auth_revocable: false
                auth_immutable: false
              balances:
              - balance: 10000.0000000
                buying_liabilities: 0.0000000
                selling_liabilities: 0.0000000
                asset_type: native
              signers:
              - weight: 1
                key: GDXUJZFHERSRVXXA6UJK3XMU5Z2HXJNJNJK7TS7FYRVI4H6MF5WKE3CC
                type: ed25519_public_key
              data: {}
          headers: {}
  /assets:
    get:
      description: 'TODO: Add Description'
      summary: Assets
      tags:
      - Misc
      operationId: AssetsGet
      deprecated: false
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Assets'
          examples:
            application/json:
              _links:
                self:
                  href: https://horizon-testnet.stellar.org/assets?cursor=&limit=10&order=asc
                next:
                  href: https://horizon-testnet.stellar.org/assets?cursor=00acc1_GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5_credit_alphanum12&limit=10&order=asc
                prev:
                  href: https://horizon-testnet.stellar.org/assets?cursor=004d40_GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5_credit_alphanum12&limit=10&order=desc
              _embedded:
                records:
                - _links:
                    toml:
                      href: ''
                  asset_type: credit_alphanum12
                  asset_code: 004d40
                  asset_issuer: GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5
                  paging_token: 004d40_GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5_credit_alphanum12
                  amount: 46285.0000000
                  num_accounts: 852
                  flags:
                    auth_required: false
                    auth_revocable: false
                    auth_immutable: false
                - _links:
                    toml:
                      href: ''
                  asset_type: credit_alphanum12
                  asset_code: 006064
                  asset_issuer: GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5
                  paging_token: 006064_GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5_credit_alphanum12
                  amount: 45573.0000000
                  num_accounts: 830
                  flags:
                    auth_required: false
                    auth_revocable: false
                    auth_immutable: false
                - _links:
                    toml:
                      href: ''
                  asset_type: credit_alphanum12
                  asset_code: 00695c
                  asset_issuer: GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5
                  paging_token: 00695c_GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5_credit_alphanum12
                  amount: 46894.0000000
                  num_accounts: 851
                  flags:
                    auth_required: false
                    auth_revocable: false
                    auth_immutable: false
                - _links:
                    toml:
                      href: ''
                  asset_type: credit_alphanum12
                  asset_code: 00796b
                  asset_issuer: GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5
                  paging_token: 00796b_GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5_credit_alphanum12
                  amount: 46496.0000000
                  num_accounts: 860
                  flags:
                    auth_required: false
                    auth_revocable: false
                    auth_immutable: false
                - _links:
                    toml:
                      href: ''
                  asset_type: credit_alphanum12
                  asset_code: 00838f
                  asset_issuer: GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5
                  paging_token: 00838f_GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5_credit_alphanum12
                  amount: 49642.0000000
                  num_accounts: 888
                  flags:
                    auth_required: false
                    auth_revocable: false
                    auth_immutable: false
                - _links:
                    toml:
                      href: ''
                  asset_type: credit_alphanum12
                  asset_code: 00897b
                  asset_issuer: GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5
                  paging_token: 00897b_GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5_credit_alphanum12
                  amount: 46759.0000000
                  num_accounts: 861
                  flags:
                    auth_required: false
                    auth_revocable: false
                    auth_immutable: false
                - _links:
                    toml:
                      href: ''
                  asset_type: credit_alphanum12
                  asset_code: 0091ea
                  asset_issuer: GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5
                  paging_token: 0091ea_GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5_credit_alphanum12
                  amount: 47389.0000000
                  num_accounts: 871
                  flags:
                    auth_required: false
                    auth_revocable: false
                    auth_immutable: false
                - _links:
                    toml:
                      href: ''
                  asset_type: credit_alphanum12
                  asset_code: 009688
                  asset_issuer: GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5
                  paging_token: 009688_GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5_credit_alphanum12
                  amount: 48533.0000000
                  num_accounts: 886
                  flags:
                    auth_required: false
                    auth_revocable: false
                    auth_immutable: false
                - _links:
                    toml:
                      href: ''
                  asset_type: credit_alphanum12
                  asset_code: 0097a7
                  asset_issuer: GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5
                  paging_token: 0097a7_GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5_credit_alphanum12
                  amount: 47730.0000000
                  num_accounts: 849
                  flags:
                    auth_required: false
                    auth_revocable: false
                    auth_immutable: false
                - _links:
                    toml:
                      href: ''
                  asset_type: credit_alphanum12
                  asset_code: 00acc1
                  asset_issuer: GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5
                  paging_token: 00acc1_GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5_credit_alphanum12
                  amount: 46232.0000000
                  num_accounts: 834
                  flags:
                    auth_required: false
                    auth_revocable: false
                    auth_immutable: false
          headers: {}
  /effects:
    get:
      description: 'TODO: Add Description'
      summary: Effects
      tags:
      - Misc
      operationId: EffectsGet
      deprecated: false
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: ''
          headers: {}
  /accounts/{account_id}/effects:
    get:
      description: 'TODO: Add Description'
      summary: Effects for account
      tags:
      - Misc
      operationId: AccountsEffectsByAccountIdGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: account_id
        in: path
        required: true
        type: string
        description: ''
      responses:
        200:
          description: ''
          headers: {}
  /ledgers//effects:
    get:
      description: 'TODO: Add Description'
      summary: Effects for ledger
      tags:
      - Misc
      operationId: LedgersEffectsGet
      deprecated: false
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: ''
          headers: {}
  /transactions//effects:
    get:
      description: 'TODO: Add Description'
      summary: Effects for transaction
      tags:
      - Misc
      operationId: TransactionsEffectsGet
      deprecated: false
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: ''
          headers: {}
  /ledgers:
    get:
      description: 'TODO: Add Description'
      summary: Ledgers
      tags:
      - Misc
      operationId: LedgersGet
      deprecated: false
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: ''
          headers: {}
  /accounts//offers:
    get:
      description: 'TODO: Add Description'
      summary: Offers for account
      tags:
      - Misc
      operationId: AccountsOffersGet
      deprecated: false
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: ''
          headers: {}
  /payments:
    get:
      description: 'TODO: Add Description'
      summary: Payments
      tags:
      - Misc
      operationId: PaymentsGet
      deprecated: false
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: ''
          headers: {}
  /accounts//payments:
    get:
      description: 'TODO: Add Description'
      summary: Payments for account
      tags:
      - Misc
      operationId: AccountsPaymentsGet
      deprecated: false
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: ''
          headers: {}
  /ledgers//payments:
    get:
      description: 'TODO: Add Description'
      summary: Payments for ledger
      tags:
      - Misc
      operationId: LedgersPaymentsGet
      deprecated: false
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: ''
          headers: {}
  /transactions//payments:
    get:
      description: 'TODO: Add Description'
      summary: Payments for transaction
      tags:
      - Misc
      operationId: TransactionsPaymentsGet
      deprecated: false
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: ''
          headers: {}
  /ledgers/:
    get:
      description: 'TODO: Add Description'
      summary: Single ledger
      tags:
      - Misc
      operationId: LedgersGet2
      deprecated: false
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: ''
          headers: {}
  /transactions/:
    get:
      description: 'TODO: Add Description'
      summary: Single transaction
      tags:
      - Misc
      operationId: TransactionsGet
      deprecated: false
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: ''
          headers: {}
  /transactions:
    get:
      description: 'TODO: Add Description'
      summary: Transactions
      tags:
      - Misc
      operationId: TransactionsGet2
      deprecated: false
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Transactions1'
          examples:
            application/json:
              _links:
                self:
                  href: https://horizon-testnet.stellar.org/transactions?cursor=&limit=10&order=asc
                next:
                  href: https://horizon-testnet.stellar.org/transactions?cursor=730144444416&limit=10&order=asc
                prev:
                  href: https://horizon-testnet.stellar.org/transactions?cursor=661424967680&limit=10&order=desc
              _embedded:
                records:
                - _links:
                    self:
                      href: https://horizon-testnet.stellar.org/transactions/749e4f8933221b9942ef38a02856803f379789ec8d971f1f60535db70135673e
                    account:
                      href: https://horizon-testnet.stellar.org/accounts/GBRPYHIL2CI3FNQ4BXLFMNDLFJUNPU2HY3ZMFSHONUCEOASW7QC7OX2H
                    ledger:
                      href: https://horizon-testnet.stellar.org/ledgers/154
                    operations:
                      href: https://horizon-testnet.stellar.org/transactions/749e4f8933221b9942ef38a02856803f379789ec8d971f1f60535db70135673e/operations{?cursor,limit,order}
                      templated: true
                    effects:
                      href: https://horizon-testnet.stellar.org/transactions/749e4f8933221b9942ef38a02856803f379789ec8d971f1f60535db70135673e/effects{?cursor,limit,order}
                      templated: true
                    precedes:
                      href: https://horizon-testnet.stellar.org/transactions?order=asc&cursor=661424967680
                    succeeds:
                      href: https://horizon-testnet.stellar.org/transactions?order=desc&cursor=661424967680
                  id: 749e4f8933221b9942ef38a02856803f379789ec8d971f1f60535db70135673e
                  paging_token: 661424967680
                  successful: true
                  hash: 749e4f8933221b9942ef38a02856803f379789ec8d971f1f60535db70135673e
                  ledger: 154
                  created_at: 2019-04-24T09:16:14Z
                  source_account: GBRPYHIL2CI3FNQ4BXLFMNDLFJUNPU2HY3ZMFSHONUCEOASW7QC7OX2H
                  source_account_sequence: 1
                  fee_paid: 1000
                  operation_count: 10
                  envelope_xdr: AAAAAGL8HQvQkbK2HA3WVjRrKmjX00fG8sLI7m0ERwJW/AX3AAAD6AAAAAAAAAABAAAAAAAAAAAAAAAKAAAAAAAAAAAAAAAAEH3Rayw4M0iCLoEe96rPFNGYim8AVHJU0z4ebYZW4JwBY0V4XYoAAAAAAAAAAAAAAAAAAN2+SherpNcNX0imC680fIBdpQfgBwIuqFOgmlobpwLJAAAAF0h26AAAAAAAAAAAAAAAAAAAlRt2go9sp7E1a5ZWvr7vin4UPrFQThpQax1lOFm33AAAABdIdugAAAAAAAAAAAAAAAAAmv+knlR6JR2VqWeU0k/4FgvZ/tSV5DEY4gu0iOTKgpUAAAAXSHboAAAAAAAAAAAAAAAAANpaWLojuOtfC0cmMh+DvQTfPDrkfXhblQTdFXrGYc0bAAAAF0h26AAAAAABAAAAAACVG3aCj2ynsTVrlla+vu+KfhQ+sVBOGlBrHWU4WbfcAAAABgAAAAFURVNUAAAAANpaWLojuOtfC0cmMh+DvQTfPDrkfXhblQTdFXrGYc0bf/////////8AAAABAAAAAJr/pJ5UeiUdlalnlNJP+BYL2f7UleQxGOILtIjkyoKVAAAABgAAAAFURVNUAAAAANpaWLojuOtfC0cmMh+DvQTfPDrkfXhblQTdFXrGYc0bf/////////8AAAABAAAAANpaWLojuOtfC0cmMh+DvQTfPDrkfXhblQTdFXrGYc0bAAAAAQAAAAAAlRt2go9sp7E1a5ZWvr7vin4UPrFQThpQax1lOFm33AAAAAFURVNUAAAAANpaWLojuOtfC0cmMh+DvQTfPDrkfXhblQTdFXrGYc0bAAAJGE5yoAAAAAABAAAAANpaWLojuOtfC0cmMh+DvQTfPDrkfXhblQTdFXrGYc0bAAAAAQAAAACa/6SeVHolHZWpZ5TST/gWC9n+1JXkMRjiC7SI5MqClQAAAAFURVNUAAAAANpaWLojuOtfC0cmMh+DvQTfPDrkfXhblQTdFXrGYc0bAAAJGE5yoAAAAAAAAAAAAAAAAABKBB+2UBMP/abwcm/M1TXO+/JQWhPwkalgqizKmXyRIQx9cN3sY5YAAAAAAAAAAARW/AX3AAAAQDX5vrTLWyUxzrvpeEghwlfZYjb8PhnV+vjXAQE+iCNotx2S0qDtnNppNy9p0qlsXtKKyZqn036kHMFGQ7RxBQ3GYc0bAAAAQOquRvJeUiQ8uDcNGUnIxXT0xaHe91JZHCVjPEm6j9Biii954p9o7Muer9B9ipn6O4Y+4oiF9NbUxyeqh1VJnQw4WbfcAAAAQG/GEctb+uefyEvdeP8V61fCvvdGCW7KoH7iLXxtvanGk9CyydtRGEIxu66hPdUKKbXpXPEKWvnAAp5V+XQqjQnkyoKVAAAAQNTyKwB94kyBjjczpFwMFVtbhHtugo+DYeQKN13jQUjWQDSgistLE+TDrxlxW0qiIhl/GkOdVLMtG6YhfZeVOQU=
                  result_xdr: AAAAAAAAA+gAAAAAAAAACgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGAAAAAAAAAAAAAAAGAAAAAAAAAAAAAAABAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAA=
                  result_meta_xdr: AAAAAQAAAAAAAAAKAAAAAwAAAAMAAACaAAAAAAAAAABi/B0L0JGythwN1lY0aypo19NHxvLCyO5tBEcCVvwF9w3gtrOnY/wYAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEAAACaAAAAAAAAAABi/B0L0JGythwN1lY0aypo19NHxvLCyO5tBEcCVvwF9wx9cTtJ2fwYAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAACaAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRXhdigAAAAAAmgAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAMAAAADAAAAmgAAAAAAAAAAYvwdC9CRsrYcDdZWNGsqaNfTR8bywsjubQRHAlb8BfcMfXE7Sdn8GAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAABAAAAmgAAAAAAAAAAYvwdC9CRsrYcDdZWNGsqaNfTR8bywsjubQRHAlb8BfcMfXEkAWMUGAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAmgAAAAAAAAAA3b5KF6uk1w1fSKYLrzR8gF2lB+AHAi6oU6CaWhunAskAAAAXSHboAAAAAJoAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAADAAAAAwAAAJoAAAAAAAAAAGL8HQvQkbK2HA3WVjRrKmjX00fG8sLI7m0ERwJW/AX3DH1xJAFjFBgAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAQAAAJoAAAAAAAAAAGL8HQvQkbK2HA3WVjRrKmjX00fG8sLI7m0ERwJW/AX3DH1xDLjsLBgAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAJoAAAAAAAAAAACVG3aCj2ynsTVrlla+vu+KfhQ+sVBOGlBrHWU4WbfcAAAAF0h26AAAAACaAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAwAAAAMAAACaAAAAAAAAAABi/B0L0JGythwN1lY0aypo19NHxvLCyO5tBEcCVvwF9wx9cQy47CwYAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEAAACaAAAAAAAAAABi/B0L0JGythwN1lY0aypo19NHxvLCyO5tBEcCVvwF9wx9cPVwdUQYAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAACaAAAAAAAAAACa/6SeVHolHZWpZ5TST/gWC9n+1JXkMRjiC7SI5MqClQAAABdIdugAAAAAmgAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAMAAAADAAAAmgAAAAAAAAAAYvwdC9CRsrYcDdZWNGsqaNfTR8bywsjubQRHAlb8BfcMfXD1cHVEGAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAABAAAAmgAAAAAAAAAAYvwdC9CRsrYcDdZWNGsqaNfTR8bywsjubQRHAlb8BfcMfXDeJ/5cGAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAmgAAAAAAAAAA2lpYuiO4618LRyYyH4O9BN88OuR9eFuVBN0VesZhzRsAAAAXSHboAAAAAJoAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAADAAAAAwAAAJoAAAAAAAAAAACVG3aCj2ynsTVrlla+vu+KfhQ+sVBOGlBrHWU4WbfcAAAAF0h26AAAAACaAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAQAAAJoAAAAAAAAAAACVG3aCj2ynsTVrlla+vu+KfhQ+sVBOGlBrHWU4WbfcAAAAF0h26AAAAACaAAAAAAAAAAEAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAJoAAAABAAAAAACVG3aCj2ynsTVrlla+vu+KfhQ+sVBOGlBrHWU4WbfcAAAAAVRFU1QAAAAA2lpYuiO4618LRyYyH4O9BN88OuR9eFuVBN0VesZhzRsAAAAAAAAAAH//////////AAAAAQAAAAAAAAAAAAAAAwAAAAMAAACaAAAAAAAAAACa/6SeVHolHZWpZ5TST/gWC9n+1JXkMRjiC7SI5MqClQAAABdIdugAAAAAmgAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEAAACaAAAAAAAAAACa/6SeVHolHZWpZ5TST/gWC9n+1JXkMRjiC7SI5MqClQAAABdIdugAAAAAmgAAAAAAAAABAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAACaAAAAAQAAAACa/6SeVHolHZWpZ5TST/gWC9n+1JXkMRjiC7SI5MqClQAAAAFURVNUAAAAANpaWLojuOtfC0cmMh+DvQTfPDrkfXhblQTdFXrGYc0bAAAAAAAAAAB//////////wAAAAEAAAAAAAAAAAAAAAIAAAADAAAAmgAAAAEAAAAAAJUbdoKPbKexNWuWVr6+74p+FD6xUE4aUGsdZThZt9wAAAABVEVTVAAAAADaWli6I7jrXwtHJjIfg70E3zw65H14W5UE3RV6xmHNGwAAAAAAAAAAf/////////8AAAABAAAAAAAAAAAAAAABAAAAmgAAAAEAAAAAAJUbdoKPbKexNWuWVr6+74p+FD6xUE4aUGsdZThZt9wAAAABVEVTVAAAAADaWli6I7jrXwtHJjIfg70E3zw65H14W5UE3RV6xmHNGwAACRhOcqAAf/////////8AAAABAAAAAAAAAAAAAAACAAAAAwAAAJoAAAABAAAAAJr/pJ5UeiUdlalnlNJP+BYL2f7UleQxGOILtIjkyoKVAAAAAVRFU1QAAAAA2lpYuiO4618LRyYyH4O9BN88OuR9eFuVBN0VesZhzRsAAAAAAAAAAH//////////AAAAAQAAAAAAAAAAAAAAAQAAAJoAAAABAAAAAJr/pJ5UeiUdlalnlNJP+BYL2f7UleQxGOILtIjkyoKVAAAAAVRFU1QAAAAA2lpYuiO4618LRyYyH4O9BN88OuR9eFuVBN0VesZhzRsAAAkYTnKgAH//////////AAAAAQAAAAAAAAAAAAAAAwAAAAMAAACaAAAAAAAAAABi/B0L0JGythwN1lY0aypo19NHxvLCyO5tBEcCVvwF9wx9cN4n/lwYAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEAAACaAAAAAAAAAABi/B0L0JGythwN1lY0aypo19NHxvLCyO5tBEcCVvwF9wAAAAA7msYYAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAACaAAAAAAAAAABKBB+2UBMP/abwcm/M1TXO+/JQWhPwkalgqizKmXyRIQx9cN3sY5YAAAAAmgAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAA==
                  fee_meta_xdr: AAAAAgAAAAMAAAABAAAAAAAAAABi/B0L0JGythwN1lY0aypo19NHxvLCyO5tBEcCVvwF9w3gtrOnZAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEAAACaAAAAAAAAAABi/B0L0JGythwN1lY0aypo19NHxvLCyO5tBEcCVvwF9w3gtrOnY/wYAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAA==
                  memo_type: none
                  signatures:
                  - Nfm+tMtbJTHOu+l4SCHCV9liNvw+GdX6+NcBAT6II2i3HZLSoO2c2mk3L2nSqWxe0orJmqfTfqQcwUZDtHEFDQ==
                  - 6q5G8l5SJDy4Nw0ZScjFdPTFod73UlkcJWM8SbqP0GKKL3nin2jsy56v0H2Kmfo7hj7iiIX01tTHJ6qHVUmdDA==
                  - b8YRy1v655/IS914/xXrV8K+90YJbsqgfuItfG29qcaT0LLJ21EYQjG7rqE91Qoptelc8Qpa+cACnlX5dCqNCQ==
                  - 1PIrAH3iTIGONzOkXAwVW1uEe26Cj4Nh5Ao3XeNBSNZANKCKy0sT5MOvGXFbSqIiGX8aQ51Usy0bpiF9l5U5BQ==
                - _links:
                    self:
                      href: https://horizon-testnet.stellar.org/transactions/89a73db58ea426a1fb6d73a2de0786e2b84d6f284635de456336525fc3941779
                    account:
                      href: https://horizon-testnet.stellar.org/accounts/GAIH3ULLFQ4DGSECF2AR555KZ4KNDGEKN4AFI4SU2M7B43MGK3QJZNSR
                    ledger:
                      href: https://horizon-testnet.stellar.org/ledgers/157
                    operations:
                      href: https://horizon-testnet.stellar.org/transactions/89a73db58ea426a1fb6d73a2de0786e2b84d6f284635de456336525fc3941779/operations{?cursor,limit,order}
                      templated: true
                    effects:
                      href: https://horizon-testnet.stellar.org/transactions/89a73db58ea426a1fb6d73a2de0786e2b84d6f284635de456336525fc3941779/effects{?cursor,limit,order}
                      templated: true
                    precedes:
                      href: https://horizon-testnet.stellar.org/transactions?order=asc&cursor=674309869568
                    succeeds:
                      href: https://horizon-testnet.stellar.org/transactions?order=desc&cursor=674309869568
                  id: 89a73db58ea426a1fb6d73a2de0786e2b84d6f284635de456336525fc3941779
                  paging_token: 674309869568
                  successful: true
                  hash: 89a73db58ea426a1fb6d73a2de0786e2b84d6f284635de456336525fc3941779
                  ledger: 157
                  created_at: 2019-04-24T09:16:29Z
                  source_account: GAIH3ULLFQ4DGSECF2AR555KZ4KNDGEKN4AFI4SU2M7B43MGK3QJZNSR
                  source_account_sequence: 661424963585
                  fee_paid: 100
                  operation_count: 1
                  envelope_xdr: AAAAABB90WssODNIgi6BHveqzxTRmIpvAFRyVNM+Hm2GVuCcAAAAZAAAAJoAAAABAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAvsM2ONeG//tjGaH8Favh0iP4U+kKpEdM8g1lrZBTscYAAAAXSHboAAAAAAAAAAABhlbgnAAAAECXNfA1wj9lC1Z6UIHNCRKu0XRb3uBKOeIluGBMJ9fonOY+FhBn48kTL5YxqtYesQpl79UjjVIvY3kkljpEm5wM
                  result_xdr: AAAAAAAAAGQAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAA=
                  result_meta_xdr: AAAAAQAAAAAAAAABAAAAAwAAAAMAAACdAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRXhdif+cAAAAmgAAAAEAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEAAACdAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRWEVExecAAAAmgAAAAEAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAACdAAAAAAAAAAC+wzY414b/+2MZofwVq+HSI/hT6QqkR0zyDWWtkFOxxgAAABdIdugAAAAAnQAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAA==
                  fee_meta_xdr: AAAAAgAAAAMAAACaAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRXhdigAAAAAAmgAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEAAACdAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRXhdif+cAAAAmgAAAAEAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAA==
                  memo_type: none
                  signatures:
                  - lzXwNcI/ZQtWelCBzQkSrtF0W97gSjniJbhgTCfX6JzmPhYQZ+PJEy+WMarWHrEKZe/VI41SL2N5JJY6RJucDA==
                - _links:
                    self:
                      href: https://horizon-testnet.stellar.org/transactions/45ec839948c9e4d942faac5817da23732f7fbfff94cbde8c24834ccecec03754
                    account:
                      href: https://horizon-testnet.stellar.org/accounts/GAIH3ULLFQ4DGSECF2AR555KZ4KNDGEKN4AFI4SU2M7B43MGK3QJZNSR
                    ledger:
                      href: https://horizon-testnet.stellar.org/ledgers/158
                    operations:
                      href: https://horizon-testnet.stellar.org/transactions/45ec839948c9e4d942faac5817da23732f7fbfff94cbde8c24834ccecec03754/operations{?cursor,limit,order}
                      templated: true
                    effects:
                      href: https://horizon-testnet.stellar.org/transactions/45ec839948c9e4d942faac5817da23732f7fbfff94cbde8c24834ccecec03754/effects{?cursor,limit,order}
                      templated: true
                    precedes:
                      href: https://horizon-testnet.stellar.org/transactions?order=asc&cursor=678604840960
                    succeeds:
                      href: https://horizon-testnet.stellar.org/transactions?order=desc&cursor=678604840960
                  id: 45ec839948c9e4d942faac5817da23732f7fbfff94cbde8c24834ccecec03754
                  paging_token: 678604840960
                  successful: true
                  hash: 45ec839948c9e4d942faac5817da23732f7fbfff94cbde8c24834ccecec03754
                  ledger: 158
                  created_at: 2019-04-24T09:16:34Z
                  source_account: GAIH3ULLFQ4DGSECF2AR555KZ4KNDGEKN4AFI4SU2M7B43MGK3QJZNSR
                  source_account_sequence: 661424963586
                  fee_paid: 100
                  operation_count: 1
                  envelope_xdr: AAAAABB90WssODNIgi6BHveqzxTRmIpvAFRyVNM+Hm2GVuCcAAAAZAAAAJoAAAACAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAD59/jCCvieT2pQKTABq0kuccZyy96Qg3OBW/MQzm608AAAAXSHboAAAAAAAAAAABhlbgnAAAAED0QzzRVap6/C9N/6y8DG+5M5LyN7zgX80EzWJ27LvjT/Gl9Fk6VzKlnNf0WL62JGQBMKQOeNmY8qt1yOi7d2cC
                  result_xdr: AAAAAAAAAGQAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAA=
                  result_meta_xdr: AAAAAQAAAAAAAAABAAAAAwAAAAMAAACeAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRWEVExc4AAAAmgAAAAIAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEAAACeAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRUnMnC84AAAAmgAAAAIAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAACeAAAAAAAAAAAPn3+MIK+J5PalApMAGrSS5xxnLL3pCDc4Fb8xDObrTwAAABdIdugAAAAAngAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAA==
                  fee_meta_xdr: AAAAAgAAAAMAAACdAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRWEVExecAAAAmgAAAAEAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEAAACeAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRWEVExc4AAAAmgAAAAIAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAA==
                  memo_type: none
                  signatures:
                  - 9EM80VWqevwvTf+svAxvuTOS8je84F/NBM1iduy740/xpfRZOlcypZzX9Fi+tiRkATCkDnjZmPKrdcjou3dnAg==
                - _links:
                    self:
                      href: https://horizon-testnet.stellar.org/transactions/c8ac62c8f66ac8147345a71ed487064ab9fa3a04472b2b49cce285b3f76d9f0f
                    account:
                      href: https://horizon-testnet.stellar.org/accounts/GAIH3ULLFQ4DGSECF2AR555KZ4KNDGEKN4AFI4SU2M7B43MGK3QJZNSR
                    ledger:
                      href: https://horizon-testnet.stellar.org/ledgers/160
                    operations:
                      href: https://horizon-testnet.stellar.org/transactions/c8ac62c8f66ac8147345a71ed487064ab9fa3a04472b2b49cce285b3f76d9f0f/operations{?cursor,limit,order}
                      templated: true
                    effects:
                      href: https://horizon-testnet.stellar.org/transactions/c8ac62c8f66ac8147345a71ed487064ab9fa3a04472b2b49cce285b3f76d9f0f/effects{?cursor,limit,order}
                      templated: true
                    precedes:
                      href: https://horizon-testnet.stellar.org/transactions?order=asc&cursor=687194771456
                    succeeds:
                      href: https://horizon-testnet.stellar.org/transactions?order=desc&cursor=687194771456
                  id: c8ac62c8f66ac8147345a71ed487064ab9fa3a04472b2b49cce285b3f76d9f0f
                  paging_token: 687194771456
                  successful: true
                  hash: c8ac62c8f66ac8147345a71ed487064ab9fa3a04472b2b49cce285b3f76d9f0f
                  ledger: 160
                  created_at: 2019-04-24T09:16:43Z
                  source_account: GAIH3ULLFQ4DGSECF2AR555KZ4KNDGEKN4AFI4SU2M7B43MGK3QJZNSR
                  source_account_sequence: 661424963587
                  fee_paid: 100
                  operation_count: 1
                  envelope_xdr: AAAAABB90WssODNIgi6BHveqzxTRmIpvAFRyVNM+Hm2GVuCcAAAAZAAAAJoAAAADAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAEtMC8HymGsVYldo41FEv3pjpY489Nse25pvpyJgFLCUAAAAXSHboAAAAAAAAAAABhlbgnAAAAECrZgMh0OSmWqJ9yHxMZBnU0lW23JsrHWxMcJuT9F5j/m219X8bGCmpiyzuIQymaHwFBXFsjlBH1fe3mruicQ8K
                  result_xdr: AAAAAAAAAGQAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAA=
                  result_meta_xdr: AAAAAQAAAAAAAAABAAAAAwAAAAMAAACgAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRUnMnC7UAAAAmgAAAAMAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEAAACgAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRTKEJUbUAAAAmgAAAAMAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAACgAAAAAAAAAAAS0wLwfKYaxViV2jjUUS/emOljjz02x7bmm+nImAUsJQAAABdIdugAAAAAoAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAA==
                  fee_meta_xdr: AAAAAgAAAAMAAACeAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRUnMnC84AAAAmgAAAAIAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEAAACgAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRUnMnC7UAAAAmgAAAAMAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAA==
                  memo_type: none
                  signatures:
                  - q2YDIdDkplqifch8TGQZ1NJVttybKx1sTHCbk/ReY/5ttfV/GxgpqYss7iEMpmh8BQVxbI5QR9X3t5q7onEPCg==
                - _links:
                    self:
                      href: https://horizon-testnet.stellar.org/transactions/d376cd3d99f633097f7d48588d6cc0221cf51c94104314affae0a28611f70c74
                    account:
                      href: https://horizon-testnet.stellar.org/accounts/GAIH3ULLFQ4DGSECF2AR555KZ4KNDGEKN4AFI4SU2M7B43MGK3QJZNSR
                    ledger:
                      href: https://horizon-testnet.stellar.org/ledgers/162
                    operations:
                      href: https://horizon-testnet.stellar.org/transactions/d376cd3d99f633097f7d48588d6cc0221cf51c94104314affae0a28611f70c74/operations{?cursor,limit,order}
                      templated: true
                    effects:
                      href: https://horizon-testnet.stellar.org/transactions/d376cd3d99f633097f7d48588d6cc0221cf51c94104314affae0a28611f70c74/effects{?cursor,limit,order}
                      templated: true
                    precedes:
                      href: https://horizon-testnet.stellar.org/transactions?order=asc&cursor=695784706048
                    succeeds:
                      href: https://horizon-testnet.stellar.org/transactions?order=desc&cursor=695784706048
                  id: d376cd3d99f633097f7d48588d6cc0221cf51c94104314affae0a28611f70c74
                  paging_token: 695784706048
                  successful: true
                  hash: d376cd3d99f633097f7d48588d6cc0221cf51c94104314affae0a28611f70c74
                  ledger: 162
                  created_at: 2019-04-24T09:16:53Z
                  source_account: GAIH3ULLFQ4DGSECF2AR555KZ4KNDGEKN4AFI4SU2M7B43MGK3QJZNSR
                  source_account_sequence: 661424963588
                  fee_paid: 100
                  operation_count: 1
                  envelope_xdr: AAAAABB90WssODNIgi6BHveqzxTRmIpvAFRyVNM+Hm2GVuCcAAAAZAAAAJoAAAAEAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAADe+GT52cMxN4GhZ3thd8RonUhcj/rCxPDl6b9+/Edp8AAAAXSHboAAAAAAAAAAABhlbgnAAAAEAYVrkBpE+jEiMwsXOlVYW9p+NcHFoLqTEyXdgA0yrI5VBQ8Yt3mgLiBLbYGEq9bQvzkoKhfZqRuxHZU1GJX00B
                  result_xdr: AAAAAAAAAGQAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAA=
                  result_meta_xdr: AAAAAQAAAAAAAAABAAAAAwAAAAMAAACiAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRTKEJUZwAAAAmgAAAAQAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEAAACiAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRRs7rl5wAAAAmgAAAAQAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAACiAAAAAAAAAAAN74ZPnZwzE3gaFne2F3xGidSFyP+sLE8OXpv378R2nwAAABdIdugAAAAAogAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAA==
                  fee_meta_xdr: AAAAAgAAAAMAAACgAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRTKEJUbUAAAAmgAAAAMAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEAAACiAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRTKEJUZwAAAAmgAAAAQAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAA==
                  memo_type: none
                  signatures:
                  - GFa5AaRPoxIjMLFzpVWFvafjXBxaC6kxMl3YANMqyOVQUPGLd5oC4gS22BhKvW0L85KCoX2akbsR2VNRiV9NAQ==
                - _links:
                    self:
                      href: https://horizon-testnet.stellar.org/transactions/de4f3a584bbea4f3c5348ef24f66b664cbeff7ffb6fec741b05ac6cc6f9914ce
                    account:
                      href: https://horizon-testnet.stellar.org/accounts/GAIH3ULLFQ4DGSECF2AR555KZ4KNDGEKN4AFI4SU2M7B43MGK3QJZNSR
                    ledger:
                      href: https://horizon-testnet.stellar.org/ledgers/164
                    operations:
                      href: https://horizon-testnet.stellar.org/transactions/de4f3a584bbea4f3c5348ef24f66b664cbeff7ffb6fec741b05ac6cc6f9914ce/operations{?cursor,limit,order}
                      templated: true
                    effects:
                      href: https://horizon-testnet.stellar.org/transactions/de4f3a584bbea4f3c5348ef24f66b664cbeff7ffb6fec741b05ac6cc6f9914ce/effects{?cursor,limit,order}
                      templated: true
                    precedes:
                      href: https://horizon-testnet.stellar.org/transactions?order=asc&cursor=704374640640
                    succeeds:
                      href: https://horizon-testnet.stellar.org/transactions?order=desc&cursor=704374640640
                  id: de4f3a584bbea4f3c5348ef24f66b664cbeff7ffb6fec741b05ac6cc6f9914ce
                  paging_token: 704374640640
                  successful: true
                  hash: de4f3a584bbea4f3c5348ef24f66b664cbeff7ffb6fec741b05ac6cc6f9914ce
                  ledger: 164
                  created_at: 2019-04-24T09:17:06Z
                  source_account: GAIH3ULLFQ4DGSECF2AR555KZ4KNDGEKN4AFI4SU2M7B43MGK3QJZNSR
                  source_account_sequence: 661424963589
                  fee_paid: 100
                  operation_count: 1
                  envelope_xdr: AAAAABB90WssODNIgi6BHveqzxTRmIpvAFRyVNM+Hm2GVuCcAAAAZAAAAJoAAAAFAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAA0VL6iKMibQu/4Vm9JdwK03axQjU06rBIvMv45Lp6kQkAAAAXSHboAAAAAAAAAAABhlbgnAAAAEBoKC9lZ+LSAfpLv0fI9WIaRx0SfiARrfsJJxOpqvrwVW5VdSo1RY0uVWkieDJ3xk7pGGRtK9xJhr+IenrWlLsG
                  result_xdr: AAAAAAAAAGQAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAA=
                  result_meta_xdr: AAAAAQAAAAAAAAABAAAAAwAAAAMAAACkAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRRs7rl4MAAAAmgAAAAUAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEAAACkAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRQPzN3YMAAAAmgAAAAUAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAACkAAAAAAAAAADRUvqIoyJtC7/hWb0l3ArTdrFCNTTqsEi8y/jkunqRCQAAABdIdugAAAAApAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAA==
                  fee_meta_xdr: AAAAAgAAAAMAAACiAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRRs7rl5wAAAAmgAAAAQAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEAAACkAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRRs7rl4MAAAAmgAAAAUAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAA==
                  memo_type: none
                  signatures:
                  - aCgvZWfi0gH6S79HyPViGkcdEn4gEa37CScTqar68FVuVXUqNUWNLlVpIngyd8ZO6RhkbSvcSYa/iHp61pS7Bg==
                - _links:
                    self:
                      href: https://horizon-testnet.stellar.org/transactions/fd4a49fa8309c0653fe60ca0199fb9d3c989dd0c3a27c367c247bbb9f0b71f84
                    account:
                      href: https://horizon-testnet.stellar.org/accounts/GAIH3ULLFQ4DGSECF2AR555KZ4KNDGEKN4AFI4SU2M7B43MGK3QJZNSR
                    ledger:
                      href: https://horizon-testnet.stellar.org/ledgers/165
                    operations:
                      href: https://horizon-testnet.stellar.org/transactions/fd4a49fa8309c0653fe60ca0199fb9d3c989dd0c3a27c367c247bbb9f0b71f84/operations{?cursor,limit,order}
                      templated: true
                    effects:
                      href: https://horizon-testnet.stellar.org/transactions/fd4a49fa8309c0653fe60ca0199fb9d3c989dd0c3a27c367c247bbb9f0b71f84/effects{?cursor,limit,order}
                      templated: true
                    precedes:
                      href: https://horizon-testnet.stellar.org/transactions?order=asc&cursor=708669607936
                    succeeds:
                      href: https://horizon-testnet.stellar.org/transactions?order=desc&cursor=708669607936
                  id: fd4a49fa8309c0653fe60ca0199fb9d3c989dd0c3a27c367c247bbb9f0b71f84
                  paging_token: 708669607936
                  successful: true
                  hash: fd4a49fa8309c0653fe60ca0199fb9d3c989dd0c3a27c367c247bbb9f0b71f84
                  ledger: 165
                  created_at: 2019-04-24T09:17:12Z
                  source_account: GAIH3ULLFQ4DGSECF2AR555KZ4KNDGEKN4AFI4SU2M7B43MGK3QJZNSR
                  source_account_sequence: 661424963590
                  fee_paid: 100
                  operation_count: 1
                  envelope_xdr: AAAAABB90WssODNIgi6BHveqzxTRmIpvAFRyVNM+Hm2GVuCcAAAAZAAAAJoAAAAGAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAA6ti7+/QP0SYEmbd5kIlUdOHnm4MO21X9nXivdjX663MAAAAXSHboAAAAAAAAAAABhlbgnAAAAEAF/FJdHfbH17FYZ88o7b8krNGie7HfxIUtrW6tKF7ujVyxDcidUcBUfxH3mtAQjP5iCLpMXTeYVuys18C9/6EF
                  result_xdr: AAAAAAAAAGQAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAA=
                  result_meta_xdr: AAAAAQAAAAAAAAABAAAAAwAAAAMAAAClAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRQPzN3WoAAAAmgAAAAYAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEAAAClAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjROyqwI2oAAAAmgAAAAYAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAClAAAAAAAAAADq2Lv79A/RJgSZt3mQiVR04eebgw7bVf2deK92NfrrcwAAABdIdugAAAAApQAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAA==
                  fee_meta_xdr: AAAAAgAAAAMAAACkAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRQPzN3YMAAAAmgAAAAUAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEAAAClAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRQPzN3WoAAAAmgAAAAYAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAA==
                  memo_type: none
                  signatures:
                  - BfxSXR32x9exWGfPKO2/JKzRonux38SFLa1urShe7o1csQ3InVHAVH8R95rQEIz+Ygi6TF03mFbsrNfAvf+hBQ==
                - _links:
                    self:
                      href: https://horizon-testnet.stellar.org/transactions/ec5e614dcd3ebe69e533666f4c68f3958af463b15b6e32080d191cf5bfb4b132
                    account:
                      href: https://horizon-testnet.stellar.org/accounts/GAIH3ULLFQ4DGSECF2AR555KZ4KNDGEKN4AFI4SU2M7B43MGK3QJZNSR
                    ledger:
                      href: https://horizon-testnet.stellar.org/ledgers/166
                    operations:
                      href: https://horizon-testnet.stellar.org/transactions/ec5e614dcd3ebe69e533666f4c68f3958af463b15b6e32080d191cf5bfb4b132/operations{?cursor,limit,order}
                      templated: true
                    effects:
                      href: https://horizon-testnet.stellar.org/transactions/ec5e614dcd3ebe69e533666f4c68f3958af463b15b6e32080d191cf5bfb4b132/effects{?cursor,limit,order}
                      templated: true
                    precedes:
                      href: https://horizon-testnet.stellar.org/transactions?order=asc&cursor=712964575232
                    succeeds:
                      href: https://horizon-testnet.stellar.org/transactions?order=desc&cursor=712964575232
                  id: ec5e614dcd3ebe69e533666f4c68f3958af463b15b6e32080d191cf5bfb4b132
                  paging_token: 712964575232
                  successful: true
                  hash: ec5e614dcd3ebe69e533666f4c68f3958af463b15b6e32080d191cf5bfb4b132
                  ledger: 166
                  created_at: 2019-04-24T09:17:16Z
                  source_account: GAIH3ULLFQ4DGSECF2AR555KZ4KNDGEKN4AFI4SU2M7B43MGK3QJZNSR
                  source_account_sequence: 661424963591
                  fee_paid: 100
                  operation_count: 1
                  envelope_xdr: AAAAABB90WssODNIgi6BHveqzxTRmIpvAFRyVNM+Hm2GVuCcAAAAZAAAAJoAAAAHAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAgkei3JGiHIRdDkEXMuRth3L8LIT2NyUqEWRgEhf7xNkAAAAXSHboAAAAAAAAAAABhlbgnAAAAEBZTmXmiMPD1g0mDTWddPQ6uu5iTEig94dqmyYPjn1QRAeWoQZgJHumtq30gJtFZljdVV23fu1b8X6YaU62AfIN
                  result_xdr: AAAAAAAAAGQAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAA=
                  result_meta_xdr: AAAAAQAAAAAAAAABAAAAAwAAAAMAAACmAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjROyqwI1EAAAAmgAAAAcAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEAAACmAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRNViSaVEAAAAmgAAAAcAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAACmAAAAAAAAAACCR6LckaIchF0OQRcy5G2HcvwshPY3JSoRZGASF/vE2QAAABdIdugAAAAApgAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAA==
                  fee_meta_xdr: AAAAAgAAAAMAAAClAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjROyqwI2oAAAAmgAAAAYAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEAAACmAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjROyqwI1EAAAAmgAAAAcAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAA==
                  memo_type: none
                  signatures:
                  - WU5l5ojDw9YNJg01nXT0OrruYkxIoPeHapsmD459UEQHlqEGYCR7prat9ICbRWZY3VVdt37tW/F+mGlOtgHyDQ==
                - _links:
                    self:
                      href: https://horizon-testnet.stellar.org/transactions/98ac56a21048b65db7309ad3072e73c44f00fb57975452c86d04e2b96d153f7b
                    account:
                      href: https://horizon-testnet.stellar.org/accounts/GAIH3ULLFQ4DGSECF2AR555KZ4KNDGEKN4AFI4SU2M7B43MGK3QJZNSR
                    ledger:
                      href: https://horizon-testnet.stellar.org/ledgers/168
                    operations:
                      href: https://horizon-testnet.stellar.org/transactions/98ac56a21048b65db7309ad3072e73c44f00fb57975452c86d04e2b96d153f7b/operations{?cursor,limit,order}
                      templated: true
                    effects:
                      href: https://horizon-testnet.stellar.org/transactions/98ac56a21048b65db7309ad3072e73c44f00fb57975452c86d04e2b96d153f7b/effects{?cursor,limit,order}
                      templated: true
                    precedes:
                      href: https://horizon-testnet.stellar.org/transactions?order=asc&cursor=721554509824
                    succeeds:
                      href: https://horizon-testnet.stellar.org/transactions?order=desc&cursor=721554509824
                  id: 98ac56a21048b65db7309ad3072e73c44f00fb57975452c86d04e2b96d153f7b
                  paging_token: 721554509824
                  successful: true
                  hash: 98ac56a21048b65db7309ad3072e73c44f00fb57975452c86d04e2b96d153f7b
                  ledger: 168
                  created_at: 2019-04-24T09:17:27Z
                  source_account: GAIH3ULLFQ4DGSECF2AR555KZ4KNDGEKN4AFI4SU2M7B43MGK3QJZNSR
                  source_account_sequence: 661424963592
                  fee_paid: 100
                  operation_count: 1
                  envelope_xdr: AAAAABB90WssODNIgi6BHveqzxTRmIpvAFRyVNM+Hm2GVuCcAAAAZAAAAJoAAAAIAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAqDMR87dpiV5fVSEkVXJlUr84k3bpijLiSg8JIhGoafQAAAAXSHboAAAAAAAAAAABhlbgnAAAAECfGFs+LBI6ffVjRXMoqjiBEbrKF9YY5TCYaPqNUU00ofQjZsIXUxmzAOb9u5w3NrfPU0xGshOn3/mc0+LhgGID
                  result_xdr: AAAAAAAAAGQAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAA=
                  result_meta_xdr: AAAAAQAAAAAAAAABAAAAAwAAAAMAAACoAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRNViSaTgAAAAmgAAAAgAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEAAACoAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRL4Z0rzgAAAAmgAAAAgAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAACoAAAAAAAAAACoMxHzt2mJXl9VISRVcmVSvziTdumKMuJKDwkiEahp9AAAABdIdugAAAAAqAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAA==
                  fee_meta_xdr: AAAAAgAAAAMAAACmAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRNViSaVEAAAAmgAAAAcAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEAAACoAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRNViSaTgAAAAmgAAAAgAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAA==
                  memo_type: none
                  signatures:
                  - nxhbPiwSOn31Y0VzKKo4gRG6yhfWGOUwmGj6jVFNNKH0I2bCF1MZswDm/bucNza3z1NMRrITp9/5nNPi4YBiAw==
                - _links:
                    self:
                      href: https://horizon-testnet.stellar.org/transactions/0ab7cd01acba119534f3d426bcfd4f8960b2f24baf562f39fd3eabc95361bbc5
                    account:
                      href: https://horizon-testnet.stellar.org/accounts/GAIH3ULLFQ4DGSECF2AR555KZ4KNDGEKN4AFI4SU2M7B43MGK3QJZNSR
                    ledger:
                      href: https://horizon-testnet.stellar.org/ledgers/170
                    operations:
                      href: https://horizon-testnet.stellar.org/transactions/0ab7cd01acba119534f3d426bcfd4f8960b2f24baf562f39fd3eabc95361bbc5/operations{?cursor,limit,order}
                      templated: true
                    effects:
                      href: https://horizon-testnet.stellar.org/transactions/0ab7cd01acba119534f3d426bcfd4f8960b2f24baf562f39fd3eabc95361bbc5/effects{?cursor,limit,order}
                      templated: true
                    precedes:
                      href: https://horizon-testnet.stellar.org/transactions?order=asc&cursor=730144444416
                    succeeds:
                      href: https://horizon-testnet.stellar.org/transactions?order=desc&cursor=730144444416
                  id: 0ab7cd01acba119534f3d426bcfd4f8960b2f24baf562f39fd3eabc95361bbc5
                  paging_token: 730144444416
                  successful: true
                  hash: 0ab7cd01acba119534f3d426bcfd4f8960b2f24baf562f39fd3eabc95361bbc5
                  ledger: 170
                  created_at: 2019-04-24T09:17:38Z
                  source_account: GAIH3ULLFQ4DGSECF2AR555KZ4KNDGEKN4AFI4SU2M7B43MGK3QJZNSR
                  source_account_sequence: 661424963593
                  fee_paid: 100
                  operation_count: 1
                  envelope_xdr: AAAAABB90WssODNIgi6BHveqzxTRmIpvAFRyVNM+Hm2GVuCcAAAAZAAAAJoAAAAJAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAA/dq4VNGqvR9IZ1ewqVnHhSaK66pIMFsPjbSjveBCmxMAAAAXSHboAAAAAAAAAAABhlbgnAAAAEAIrSVfT1g+hThEjJMcPzJ1zYAbFNUc1sK5iaa6Hkl6MSy9cZ4xi8eQK/DYn3LIve8XTbLsjTmIDmV5Tejpf2QN
                  result_xdr: AAAAAAAAAGQAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAA=
                  result_meta_xdr: AAAAAQAAAAAAAAABAAAAAwAAAAMAAACqAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRL4Z0rx8AAAAmgAAAAkAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEAAACqAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRKbRW9R8AAAAmgAAAAkAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAACqAAAAAAAAAAD92rhU0aq9H0hnV7CpWceFJorrqkgwWw+NtKO94EKbEwAAABdIdugAAAAAqgAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAA==
                  fee_meta_xdr: AAAAAgAAAAMAAACoAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRL4Z0rzgAAAAmgAAAAgAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEAAACqAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRL4Z0rx8AAAAmgAAAAkAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAA==
                  memo_type: none
                  signatures:
                  - CK0lX09YPoU4RIyTHD8ydc2AGxTVHNbCuYmmuh5JejEsvXGeMYvHkCvw2J9yyL3vF02y7I05iA5leU3o6X9kDQ==
          headers: {}
  /accounts//transactions:
    get:
      description: 'TODO: Add Description'
      summary: Transactions for account
      tags:
      - Misc
      operationId: AccountsTransactionsGet
      deprecated: false
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: ''
          headers: {}
  /ledgers//transactions:
    get:
      description: 'TODO: Add Description'
      summary: Transactions for ledger
      tags:
      - Misc
      operationId: LedgersTransactionsGet
      deprecated: false
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: ''
          headers: {}
definitions:
  Accounts:
    title: Accounts
    example:
      _links:
        self:
          href: https://horizon-testnet.stellar.org/accounts/GDXUJZFHERSRVXXA6UJK3XMU5Z2HXJNJNJK7TS7FYRVI4H6MF5WKE3CC
        transactions:
          href: https://horizon-testnet.stellar.org/accounts/GDXUJZFHERSRVXXA6UJK3XMU5Z2HXJNJNJK7TS7FYRVI4H6MF5WKE3CC/transactions{?cursor,limit,order}
          templated: true
        operations:
          href: https://horizon-testnet.stellar.org/accounts/GDXUJZFHERSRVXXA6UJK3XMU5Z2HXJNJNJK7TS7FYRVI4H6MF5WKE3CC/operations{?cursor,limit,order}
          templated: true
        payments:
          href: https://horizon-testnet.stellar.org/accounts/GDXUJZFHERSRVXXA6UJK3XMU5Z2HXJNJNJK7TS7FYRVI4H6MF5WKE3CC/payments{?cursor,limit,order}
          templated: true
        effects:
          href: https://horizon-testnet.stellar.org/accounts/GDXUJZFHERSRVXXA6UJK3XMU5Z2HXJNJNJK7TS7FYRVI4H6MF5WKE3CC/effects{?cursor,limit,order}
          templated: true
        offers:
          href: https://horizon-testnet.stellar.org/accounts/GDXUJZFHERSRVXXA6UJK3XMU5Z2HXJNJNJK7TS7FYRVI4H6MF5WKE3CC/offers{?cursor,limit,order}
          templated: true
        trades:
          href: https://horizon-testnet.stellar.org/accounts/GDXUJZFHERSRVXXA6UJK3XMU5Z2HXJNJNJK7TS7FYRVI4H6MF5WKE3CC/trades{?cursor,limit,order}
          templated: true
        data:
          href: https://horizon-testnet.stellar.org/accounts/GDXUJZFHERSRVXXA6UJK3XMU5Z2HXJNJNJK7TS7FYRVI4H6MF5WKE3CC/data/{key}
          templated: true
      id: GDXUJZFHERSRVXXA6UJK3XMU5Z2HXJNJNJK7TS7FYRVI4H6MF5WKE3CC
      paging_token: ''
      account_id: GDXUJZFHERSRVXXA6UJK3XMU5Z2HXJNJNJK7TS7FYRVI4H6MF5WKE3CC
      sequence: 2563584374603776
      subentry_count: 0
      last_modified_ledger: 596881
      thresholds:
        low_threshold: 0
        med_threshold: 0
        high_threshold: 0
      flags:
        auth_required: false
        auth_revocable: false
        auth_immutable: false
      balances:
      - balance: 10000.0000000
        buying_liabilities: 0.0000000
        selling_liabilities: 0.0000000
        asset_type: native
      signers:
      - weight: 1
        key: GDXUJZFHERSRVXXA6UJK3XMU5Z2HXJNJNJK7TS7FYRVI4H6MF5WKE3CC
        type: ed25519_public_key
      data: {}
    type: object
    properties:
      _links:
        $ref: '#/definitions/Links'
      id:
        type: string
      paging_token:
        type: string
      account_id:
        type: string
      sequence:
        type: string
      subentry_count:
        type: integer
        format: int32
      last_modified_ledger:
        type: integer
        format: int32
      thresholds:
        $ref: '#/definitions/Thresholds'
      flags:
        $ref: '#/definitions/Flags'
      balances:
        type: array
        items:
          $ref: '#/definitions/Balance'
      signers:
        type: array
        items:
          $ref: '#/definitions/Signer'
      data:
        type: object
    required:
    - _links
    - id
    - paging_token
    - account_id
    - sequence
    - subentry_count
    - last_modified_ledger
    - thresholds
    - flags
    - balances
    - signers
    - data
  Links:
    title: Links
    example:
      self:
        href: https://horizon-testnet.stellar.org/accounts/GDXUJZFHERSRVXXA6UJK3XMU5Z2HXJNJNJK7TS7FYRVI4H6MF5WKE3CC
      transactions:
        href: https://horizon-testnet.stellar.org/accounts/GDXUJZFHERSRVXXA6UJK3XMU5Z2HXJNJNJK7TS7FYRVI4H6MF5WKE3CC/transactions{?cursor,limit,order}
        templated: true
      operations:
        href: https://horizon-testnet.stellar.org/accounts/GDXUJZFHERSRVXXA6UJK3XMU5Z2HXJNJNJK7TS7FYRVI4H6MF5WKE3CC/operations{?cursor,limit,order}
        templated: true
      payments:
        href: https://horizon-testnet.stellar.org/accounts/GDXUJZFHERSRVXXA6UJK3XMU5Z2HXJNJNJK7TS7FYRVI4H6MF5WKE3CC/payments{?cursor,limit,order}
        templated: true
      effects:
        href: https://horizon-testnet.stellar.org/accounts/GDXUJZFHERSRVXXA6UJK3XMU5Z2HXJNJNJK7TS7FYRVI4H6MF5WKE3CC/effects{?cursor,limit,order}
        templated: true
      offers:
        href: https://horizon-testnet.stellar.org/accounts/GDXUJZFHERSRVXXA6UJK3XMU5Z2HXJNJNJK7TS7FYRVI4H6MF5WKE3CC/offers{?cursor,limit,order}
        templated: true
      trades:
        href: https://horizon-testnet.stellar.org/accounts/GDXUJZFHERSRVXXA6UJK3XMU5Z2HXJNJNJK7TS7FYRVI4H6MF5WKE3CC/trades{?cursor,limit,order}
        templated: true
      data:
        href: https://horizon-testnet.stellar.org/accounts/GDXUJZFHERSRVXXA6UJK3XMU5Z2HXJNJNJK7TS7FYRVI4H6MF5WKE3CC/data/{key}
        templated: true
    type: object
    properties:
      self:
        $ref: '#/definitions/Self'
      transactions:
        $ref: '#/definitions/Transactions'
      operations:
        $ref: '#/definitions/Operations'
      payments:
        $ref: '#/definitions/Payments'
      effects:
        $ref: '#/definitions/Effects'
      offers:
        $ref: '#/definitions/Offers'
      trades:
        $ref: '#/definitions/Trades'
      data:
        $ref: '#/definitions/Data'
    required:
    - self
    - transactions
    - operations
    - payments
    - effects
    - offers
    - trades
    - data
  Self:
    title: Self
    example:
      href: https://horizon-testnet.stellar.org/accounts/GDXUJZFHERSRVXXA6UJK3XMU5Z2HXJNJNJK7TS7FYRVI4H6MF5WKE3CC
    type: object
    properties:
      href:
        type: string
    required:
    - href
  Transactions:
    title: Transactions
    example:
      href: https://horizon-testnet.stellar.org/accounts/GDXUJZFHERSRVXXA6UJK3XMU5Z2HXJNJNJK7TS7FYRVI4H6MF5WKE3CC/transactions{?cursor,limit,order}
      templated: true
    type: object
    properties:
      href:
        type: string
      templated:
        type: boolean
    required:
    - href
    - templated
  Operations:
    title: Operations
    example:
      href: https://horizon-testnet.stellar.org/accounts/GDXUJZFHERSRVXXA6UJK3XMU5Z2HXJNJNJK7TS7FYRVI4H6MF5WKE3CC/operations{?cursor,limit,order}
      templated: true
    type: object
    properties:
      href:
        type: string
      templated:
        type: boolean
    required:
    - href
    - templated
  Payments:
    title: Payments
    example:
      href: https://horizon-testnet.stellar.org/accounts/GDXUJZFHERSRVXXA6UJK3XMU5Z2HXJNJNJK7TS7FYRVI4H6MF5WKE3CC/payments{?cursor,limit,order}
      templated: true
    type: object
    properties:
      href:
        type: string
      templated:
        type: boolean
    required:
    - href
    - templated
  Effects:
    title: Effects
    example:
      href: https://horizon-testnet.stellar.org/accounts/GDXUJZFHERSRVXXA6UJK3XMU5Z2HXJNJNJK7TS7FYRVI4H6MF5WKE3CC/effects{?cursor,limit,order}
      templated: true
    type: object
    properties:
      href:
        type: string
      templated:
        type: boolean
    required:
    - href
    - templated
  Offers:
    title: Offers
    example:
      href: https://horizon-testnet.stellar.org/accounts/GDXUJZFHERSRVXXA6UJK3XMU5Z2HXJNJNJK7TS7FYRVI4H6MF5WKE3CC/offers{?cursor,limit,order}
      templated: true
    type: object
    properties:
      href:
        type: string
      templated:
        type: boolean
    required:
    - href
    - templated
  Trades:
    title: Trades
    example:
      href: https://horizon-testnet.stellar.org/accounts/GDXUJZFHERSRVXXA6UJK3XMU5Z2HXJNJNJK7TS7FYRVI4H6MF5WKE3CC/trades{?cursor,limit,order}
      templated: true
    type: object
    properties:
      href:
        type: string
      templated:
        type: boolean
    required:
    - href
    - templated
  Data:
    title: Data
    example:
      href: https://horizon-testnet.stellar.org/accounts/GDXUJZFHERSRVXXA6UJK3XMU5Z2HXJNJNJK7TS7FYRVI4H6MF5WKE3CC/data/{key}
      templated: true
    type: object
    properties:
      href:
        type: string
      templated:
        type: boolean
    required:
    - href
    - templated
  Thresholds:
    title: Thresholds
    example:
      low_threshold: 0
      med_threshold: 0
      high_threshold: 0
    type: object
    properties:
      low_threshold:
        type: integer
        format: int32
      med_threshold:
        type: integer
        format: int32
      high_threshold:
        type: integer
        format: int32
    required:
    - low_threshold
    - med_threshold
    - high_threshold
  Flags:
    title: Flags
    example:
      auth_required: false
      auth_revocable: false
      auth_immutable: false
    type: object
    properties:
      auth_required:
        type: boolean
      auth_revocable:
        type: boolean
      auth_immutable:
        type: boolean
    required:
    - auth_required
    - auth_revocable
    - auth_immutable
  Balance:
    title: Balance
    example:
      balance: 10000.0000000
      buying_liabilities: 0.0000000
      selling_liabilities: 0.0000000
      asset_type: native
    type: object
    properties:
      balance:
        type: string
      buying_liabilities:
        type: string
      selling_liabilities:
        type: string
      asset_type:
        type: string
    required:
    - balance
    - buying_liabilities
    - selling_liabilities
    - asset_type
  Signer:
    title: Signer
    example:
      weight: 1
      key: GDXUJZFHERSRVXXA6UJK3XMU5Z2HXJNJNJK7TS7FYRVI4H6MF5WKE3CC
      type: ed25519_public_key
    type: object
    properties:
      weight:
        type: integer
        format: int32
      key:
        type: string
      type:
        type: string
    required:
    - weight
    - key
    - type
  Assets:
    title: Assets
    example:
      _links:
        self:
          href: https://horizon-testnet.stellar.org/assets?cursor=&limit=10&order=asc
        next:
          href: https://horizon-testnet.stellar.org/assets?cursor=00acc1_GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5_credit_alphanum12&limit=10&order=asc
        prev:
          href: https://horizon-testnet.stellar.org/assets?cursor=004d40_GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5_credit_alphanum12&limit=10&order=desc
      _embedded:
        records:
        - _links:
            toml:
              href: ''
          asset_type: credit_alphanum12
          asset_code: 004d40
          asset_issuer: GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5
          paging_token: 004d40_GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5_credit_alphanum12
          amount: 46285.0000000
          num_accounts: 852
          flags:
            auth_required: false
            auth_revocable: false
            auth_immutable: false
        - _links:
            toml:
              href: ''
          asset_type: credit_alphanum12
          asset_code: 006064
          asset_issuer: GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5
          paging_token: 006064_GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5_credit_alphanum12
          amount: 45573.0000000
          num_accounts: 830
          flags:
            auth_required: false
            auth_revocable: false
            auth_immutable: false
        - _links:
            toml:
              href: ''
          asset_type: credit_alphanum12
          asset_code: 00695c
          asset_issuer: GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5
          paging_token: 00695c_GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5_credit_alphanum12
          amount: 46894.0000000
          num_accounts: 851
          flags:
            auth_required: false
            auth_revocable: false
            auth_immutable: false
        - _links:
            toml:
              href: ''
          asset_type: credit_alphanum12
          asset_code: 00796b
          asset_issuer: GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5
          paging_token: 00796b_GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5_credit_alphanum12
          amount: 46496.0000000
          num_accounts: 860
          flags:
            auth_required: false
            auth_revocable: false
            auth_immutable: false
        - _links:
            toml:
              href: ''
          asset_type: credit_alphanum12
          asset_code: 00838f
          asset_issuer: GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5
          paging_token: 00838f_GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5_credit_alphanum12
          amount: 49642.0000000
          num_accounts: 888
          flags:
            auth_required: false
            auth_revocable: false
            auth_immutable: false
        - _links:
            toml:
              href: ''
          asset_type: credit_alphanum12
          asset_code: 00897b
          asset_issuer: GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5
          paging_token: 00897b_GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5_credit_alphanum12
          amount: 46759.0000000
          num_accounts: 861
          flags:
            auth_required: false
            auth_revocable: false
            auth_immutable: false
        - _links:
            toml:
              href: ''
          asset_type: credit_alphanum12
          asset_code: 0091ea
          asset_issuer: GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5
          paging_token: 0091ea_GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5_credit_alphanum12
          amount: 47389.0000000
          num_accounts: 871
          flags:
            auth_required: false
            auth_revocable: false
            auth_immutable: false
        - _links:
            toml:
              href: ''
          asset_type: credit_alphanum12
          asset_code: 009688
          asset_issuer: GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5
          paging_token: 009688_GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5_credit_alphanum12
          amount: 48533.0000000
          num_accounts: 886
          flags:
            auth_required: false
            auth_revocable: false
            auth_immutable: false
        - _links:
            toml:
              href: ''
          asset_type: credit_alphanum12
          asset_code: 0097a7
          asset_issuer: GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5
          paging_token: 0097a7_GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5_credit_alphanum12
          amount: 47730.0000000
          num_accounts: 849
          flags:
            auth_required: false
            auth_revocable: false
            auth_immutable: false
        - _links:
            toml:
              href: ''
          asset_type: credit_alphanum12
          asset_code: 00acc1
          asset_issuer: GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5
          paging_token: 00acc1_GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5_credit_alphanum12
          amount: 46232.0000000
          num_accounts: 834
          flags:
            auth_required: false
            auth_revocable: false
            auth_immutable: false
    type: object
    properties:
      _links:
        $ref: '#/definitions/Links1'
      _embedded:
        $ref: '#/definitions/Embedded'
    required:
    - _links
    - _embedded
  Links1:
    title: Links1
    example:
      self:
        href: https://horizon-testnet.stellar.org/assets?cursor=&limit=10&order=asc
      next:
        href: https://horizon-testnet.stellar.org/assets?cursor=00acc1_GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5_credit_alphanum12&limit=10&order=asc
      prev:
        href: https://horizon-testnet.stellar.org/assets?cursor=004d40_GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5_credit_alphanum12&limit=10&order=desc
    type: object
    properties:
      self:
        $ref: '#/definitions/Self'
      next:
        $ref: '#/definitions/Next'
      prev:
        $ref: '#/definitions/Prev'
    required:
    - self
    - next
    - prev
  Next:
    title: Next
    example:
      href: https://horizon-testnet.stellar.org/assets?cursor=00acc1_GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5_credit_alphanum12&limit=10&order=asc
    type: object
    properties:
      href:
        type: string
    required:
    - href
  Prev:
    title: Prev
    example:
      href: https://horizon-testnet.stellar.org/assets?cursor=004d40_GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5_credit_alphanum12&limit=10&order=desc
    type: object
    properties:
      href:
        type: string
    required:
    - href
  Embedded:
    title: Embedded
    example:
      records:
      - _links:
          toml:
            href: ''
        asset_type: credit_alphanum12
        asset_code: 004d40
        asset_issuer: GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5
        paging_token: 004d40_GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5_credit_alphanum12
        amount: 46285.0000000
        num_accounts: 852
        flags:
          auth_required: false
          auth_revocable: false
          auth_immutable: false
      - _links:
          toml:
            href: ''
        asset_type: credit_alphanum12
        asset_code: 006064
        asset_issuer: GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5
        paging_token: 006064_GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5_credit_alphanum12
        amount: 45573.0000000
        num_accounts: 830
        flags:
          auth_required: false
          auth_revocable: false
          auth_immutable: false
      - _links:
          toml:
            href: ''
        asset_type: credit_alphanum12
        asset_code: 00695c
        asset_issuer: GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5
        paging_token: 00695c_GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5_credit_alphanum12
        amount: 46894.0000000
        num_accounts: 851
        flags:
          auth_required: false
          auth_revocable: false
          auth_immutable: false
      - _links:
          toml:
            href: ''
        asset_type: credit_alphanum12
        asset_code: 00796b
        asset_issuer: GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5
        paging_token: 00796b_GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5_credit_alphanum12
        amount: 46496.0000000
        num_accounts: 860
        flags:
          auth_required: false
          auth_revocable: false
          auth_immutable: false
      - _links:
          toml:
            href: ''
        asset_type: credit_alphanum12
        asset_code: 00838f
        asset_issuer: GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5
        paging_token: 00838f_GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5_credit_alphanum12
        amount: 49642.0000000
        num_accounts: 888
        flags:
          auth_required: false
          auth_revocable: false
          auth_immutable: false
      - _links:
          toml:
            href: ''
        asset_type: credit_alphanum12
        asset_code: 00897b
        asset_issuer: GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5
        paging_token: 00897b_GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5_credit_alphanum12
        amount: 46759.0000000
        num_accounts: 861
        flags:
          auth_required: false
          auth_revocable: false
          auth_immutable: false
      - _links:
          toml:
            href: ''
        asset_type: credit_alphanum12
        asset_code: 0091ea
        asset_issuer: GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5
        paging_token: 0091ea_GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5_credit_alphanum12
        amount: 47389.0000000
        num_accounts: 871
        flags:
          auth_required: false
          auth_revocable: false
          auth_immutable: false
      - _links:
          toml:
            href: ''
        asset_type: credit_alphanum12
        asset_code: 009688
        asset_issuer: GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5
        paging_token: 009688_GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5_credit_alphanum12
        amount: 48533.0000000
        num_accounts: 886
        flags:
          auth_required: false
          auth_revocable: false
          auth_immutable: false
      - _links:
          toml:
            href: ''
        asset_type: credit_alphanum12
        asset_code: 0097a7
        asset_issuer: GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5
        paging_token: 0097a7_GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5_credit_alphanum12
        amount: 47730.0000000
        num_accounts: 849
        flags:
          auth_required: false
          auth_revocable: false
          auth_immutable: false
      - _links:
          toml:
            href: ''
        asset_type: credit_alphanum12
        asset_code: 00acc1
        asset_issuer: GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5
        paging_token: 00acc1_GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5_credit_alphanum12
        amount: 46232.0000000
        num_accounts: 834
        flags:
          auth_required: false
          auth_revocable: false
          auth_immutable: false
    type: object
    properties:
      records:
        type: array
        items:
          $ref: '#/definitions/Record'
    required:
    - records
  Record:
    title: Record
    example:
      _links:
        toml:
          href: ''
      asset_type: credit_alphanum12
      asset_code: 004d40
      asset_issuer: GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5
      paging_token: 004d40_GD4SAUKGB6GE2Q25H2CZMZ3BSP5CVYIY2LQYJDCFNNICR473AVL7IYH5_credit_alphanum12
      amount: 46285.0000000
      num_accounts: 852
      flags:
        auth_required: false
        auth_revocable: false
        auth_immutable: false
    type: object
    properties:
      _links:
        $ref: '#/definitions/Links2'
      asset_type:
        type: string
      asset_code:
        type: string
      asset_issuer:
        type: string
      paging_token:
        type: string
      amount:
        type: string
      num_accounts:
        type: integer
        format: int32
      flags:
        $ref: '#/definitions/Flags'
    required:
    - _links
    - asset_type
    - asset_code
    - asset_issuer
    - paging_token
    - amount
    - num_accounts
    - flags
  Links2:
    title: Links2
    example:
      toml:
        href: ''
    type: object
    properties:
      toml:
        $ref: '#/definitions/Toml'
    required:
    - toml
  Toml:
    title: Toml
    example:
      href: ''
    type: object
    properties:
      href:
        type: string
    required:
    - href
  Transactions1:
    title: Transactions1
    example:
      _links:
        self:
          href: https://horizon-testnet.stellar.org/transactions?cursor=&limit=10&order=asc
        next:
          href: https://horizon-testnet.stellar.org/transactions?cursor=730144444416&limit=10&order=asc
        prev:
          href: https://horizon-testnet.stellar.org/transactions?cursor=661424967680&limit=10&order=desc
      _embedded:
        records:
        - _links:
            self:
              href: https://horizon-testnet.stellar.org/transactions/749e4f8933221b9942ef38a02856803f379789ec8d971f1f60535db70135673e
            account:
              href: https://horizon-testnet.stellar.org/accounts/GBRPYHIL2CI3FNQ4BXLFMNDLFJUNPU2HY3ZMFSHONUCEOASW7QC7OX2H
            ledger:
              href: https://horizon-testnet.stellar.org/ledgers/154
            operations:
              href: https://horizon-testnet.stellar.org/transactions/749e4f8933221b9942ef38a02856803f379789ec8d971f1f60535db70135673e/operations{?cursor,limit,order}
              templated: true
            effects:
              href: https://horizon-testnet.stellar.org/transactions/749e4f8933221b9942ef38a02856803f379789ec8d971f1f60535db70135673e/effects{?cursor,limit,order}
              templated: true
            precedes:
              href: https://horizon-testnet.stellar.org/transactions?order=asc&cursor=661424967680
            succeeds:
              href: https://horizon-testnet.stellar.org/transactions?order=desc&cursor=661424967680
          id: 749e4f8933221b9942ef38a02856803f379789ec8d971f1f60535db70135673e
          paging_token: 661424967680
          successful: true
          hash: 749e4f8933221b9942ef38a02856803f379789ec8d971f1f60535db70135673e
          ledger: 154
          created_at: 2019-04-24T09:16:14Z
          source_account: GBRPYHIL2CI3FNQ4BXLFMNDLFJUNPU2HY3ZMFSHONUCEOASW7QC7OX2H
          source_account_sequence: 1
          fee_paid: 1000
          operation_count: 10
          envelope_xdr: AAAAAGL8HQvQkbK2HA3WVjRrKmjX00fG8sLI7m0ERwJW/AX3AAAD6AAAAAAAAAABAAAAAAAAAAAAAAAKAAAAAAAAAAAAAAAAEH3Rayw4M0iCLoEe96rPFNGYim8AVHJU0z4ebYZW4JwBY0V4XYoAAAAAAAAAAAAAAAAAAN2+SherpNcNX0imC680fIBdpQfgBwIuqFOgmlobpwLJAAAAF0h26AAAAAAAAAAAAAAAAAAAlRt2go9sp7E1a5ZWvr7vin4UPrFQThpQax1lOFm33AAAABdIdugAAAAAAAAAAAAAAAAAmv+knlR6JR2VqWeU0k/4FgvZ/tSV5DEY4gu0iOTKgpUAAAAXSHboAAAAAAAAAAAAAAAAANpaWLojuOtfC0cmMh+DvQTfPDrkfXhblQTdFXrGYc0bAAAAF0h26AAAAAABAAAAAACVG3aCj2ynsTVrlla+vu+KfhQ+sVBOGlBrHWU4WbfcAAAABgAAAAFURVNUAAAAANpaWLojuOtfC0cmMh+DvQTfPDrkfXhblQTdFXrGYc0bf/////////8AAAABAAAAAJr/pJ5UeiUdlalnlNJP+BYL2f7UleQxGOILtIjkyoKVAAAABgAAAAFURVNUAAAAANpaWLojuOtfC0cmMh+DvQTfPDrkfXhblQTdFXrGYc0bf/////////8AAAABAAAAANpaWLojuOtfC0cmMh+DvQTfPDrkfXhblQTdFXrGYc0bAAAAAQAAAAAAlRt2go9sp7E1a5ZWvr7vin4UPrFQThpQax1lOFm33AAAAAFURVNUAAAAANpaWLojuOtfC0cmMh+DvQTfPDrkfXhblQTdFXrGYc0bAAAJGE5yoAAAAAABAAAAANpaWLojuOtfC0cmMh+DvQTfPDrkfXhblQTdFXrGYc0bAAAAAQAAAACa/6SeVHolHZWpZ5TST/gWC9n+1JXkMRjiC7SI5MqClQAAAAFURVNUAAAAANpaWLojuOtfC0cmMh+DvQTfPDrkfXhblQTdFXrGYc0bAAAJGE5yoAAAAAAAAAAAAAAAAABKBB+2UBMP/abwcm/M1TXO+/JQWhPwkalgqizKmXyRIQx9cN3sY5YAAAAAAAAAAARW/AX3AAAAQDX5vrTLWyUxzrvpeEghwlfZYjb8PhnV+vjXAQE+iCNotx2S0qDtnNppNy9p0qlsXtKKyZqn036kHMFGQ7RxBQ3GYc0bAAAAQOquRvJeUiQ8uDcNGUnIxXT0xaHe91JZHCVjPEm6j9Biii954p9o7Muer9B9ipn6O4Y+4oiF9NbUxyeqh1VJnQw4WbfcAAAAQG/GEctb+uefyEvdeP8V61fCvvdGCW7KoH7iLXxtvanGk9CyydtRGEIxu66hPdUKKbXpXPEKWvnAAp5V+XQqjQnkyoKVAAAAQNTyKwB94kyBjjczpFwMFVtbhHtugo+DYeQKN13jQUjWQDSgistLE+TDrxlxW0qiIhl/GkOdVLMtG6YhfZeVOQU=
          result_xdr: AAAAAAAAA+gAAAAAAAAACgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGAAAAAAAAAAAAAAAGAAAAAAAAAAAAAAABAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAA=
          result_meta_xdr: AAAAAQAAAAAAAAAKAAAAAwAAAAMAAACaAAAAAAAAAABi/B0L0JGythwN1lY0aypo19NHxvLCyO5tBEcCVvwF9w3gtrOnY/wYAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEAAACaAAAAAAAAAABi/B0L0JGythwN1lY0aypo19NHxvLCyO5tBEcCVvwF9wx9cTtJ2fwYAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAACaAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRXhdigAAAAAAmgAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAMAAAADAAAAmgAAAAAAAAAAYvwdC9CRsrYcDdZWNGsqaNfTR8bywsjubQRHAlb8BfcMfXE7Sdn8GAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAABAAAAmgAAAAAAAAAAYvwdC9CRsrYcDdZWNGsqaNfTR8bywsjubQRHAlb8BfcMfXEkAWMUGAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAmgAAAAAAAAAA3b5KF6uk1w1fSKYLrzR8gF2lB+AHAi6oU6CaWhunAskAAAAXSHboAAAAAJoAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAADAAAAAwAAAJoAAAAAAAAAAGL8HQvQkbK2HA3WVjRrKmjX00fG8sLI7m0ERwJW/AX3DH1xJAFjFBgAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAQAAAJoAAAAAAAAAAGL8HQvQkbK2HA3WVjRrKmjX00fG8sLI7m0ERwJW/AX3DH1xDLjsLBgAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAJoAAAAAAAAAAACVG3aCj2ynsTVrlla+vu+KfhQ+sVBOGlBrHWU4WbfcAAAAF0h26AAAAACaAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAwAAAAMAAACaAAAAAAAAAABi/B0L0JGythwN1lY0aypo19NHxvLCyO5tBEcCVvwF9wx9cQy47CwYAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEAAACaAAAAAAAAAABi/B0L0JGythwN1lY0aypo19NHxvLCyO5tBEcCVvwF9wx9cPVwdUQYAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAACaAAAAAAAAAACa/6SeVHolHZWpZ5TST/gWC9n+1JXkMRjiC7SI5MqClQAAABdIdugAAAAAmgAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAMAAAADAAAAmgAAAAAAAAAAYvwdC9CRsrYcDdZWNGsqaNfTR8bywsjubQRHAlb8BfcMfXD1cHVEGAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAABAAAAmgAAAAAAAAAAYvwdC9CRsrYcDdZWNGsqaNfTR8bywsjubQRHAlb8BfcMfXDeJ/5cGAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAmgAAAAAAAAAA2lpYuiO4618LRyYyH4O9BN88OuR9eFuVBN0VesZhzRsAAAAXSHboAAAAAJoAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAADAAAAAwAAAJoAAAAAAAAAAACVG3aCj2ynsTVrlla+vu+KfhQ+sVBOGlBrHWU4WbfcAAAAF0h26AAAAACaAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAQAAAJoAAAAAAAAAAACVG3aCj2ynsTVrlla+vu+KfhQ+sVBOGlBrHWU4WbfcAAAAF0h26AAAAACaAAAAAAAAAAEAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAJoAAAABAAAAAACVG3aCj2ynsTVrlla+vu+KfhQ+sVBOGlBrHWU4WbfcAAAAAVRFU1QAAAAA2lpYuiO4618LRyYyH4O9BN88OuR9eFuVBN0VesZhzRsAAAAAAAAAAH//////////AAAAAQAAAAAAAAAAAAAAAwAAAAMAAACaAAAAAAAAAACa/6SeVHolHZWpZ5TST/gWC9n+1JXkMRjiC7SI5MqClQAAABdIdugAAAAAmgAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEAAACaAAAAAAAAAACa/6SeVHolHZWpZ5TST/gWC9n+1JXkMRjiC7SI5MqClQAAABdIdugAAAAAmgAAAAAAAAABAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAACaAAAAAQAAAACa/6SeVHolHZWpZ5TST/gWC9n+1JXkMRjiC7SI5MqClQAAAAFURVNUAAAAANpaWLojuOtfC0cmMh+DvQTfPDrkfXhblQTdFXrGYc0bAAAAAAAAAAB//////////wAAAAEAAAAAAAAAAAAAAAIAAAADAAAAmgAAAAEAAAAAAJUbdoKPbKexNWuWVr6+74p+FD6xUE4aUGsdZThZt9wAAAABVEVTVAAAAADaWli6I7jrXwtHJjIfg70E3zw65H14W5UE3RV6xmHNGwAAAAAAAAAAf/////////8AAAABAAAAAAAAAAAAAAABAAAAmgAAAAEAAAAAAJUbdoKPbKexNWuWVr6+74p+FD6xUE4aUGsdZThZt9wAAAABVEVTVAAAAADaWli6I7jrXwtHJjIfg70E3zw65H14W5UE3RV6xmHNGwAACRhOcqAAf/////////8AAAABAAAAAAAAAAAAAAACAAAAAwAAAJoAAAABAAAAAJr/pJ5UeiUdlalnlNJP+BYL2f7UleQxGOILtIjkyoKVAAAAAVRFU1QAAAAA2lpYuiO4618LRyYyH4O9BN88OuR9eFuVBN0VesZhzRsAAAAAAAAAAH//////////AAAAAQAAAAAAAAAAAAAAAQAAAJoAAAABAAAAAJr/pJ5UeiUdlalnlNJP+BYL2f7UleQxGOILtIjkyoKVAAAAAVRFU1QAAAAA2lpYuiO4618LRyYyH4O9BN88OuR9eFuVBN0VesZhzRsAAAkYTnKgAH//////////AAAAAQAAAAAAAAAAAAAAAwAAAAMAAACaAAAAAAAAAABi/B0L0JGythwN1lY0aypo19NHxvLCyO5tBEcCVvwF9wx9cN4n/lwYAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEAAACaAAAAAAAAAABi/B0L0JGythwN1lY0aypo19NHxvLCyO5tBEcCVvwF9wAAAAA7msYYAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAACaAAAAAAAAAABKBB+2UBMP/abwcm/M1TXO+/JQWhPwkalgqizKmXyRIQx9cN3sY5YAAAAAmgAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAA==
          fee_meta_xdr: AAAAAgAAAAMAAAABAAAAAAAAAABi/B0L0JGythwN1lY0aypo19NHxvLCyO5tBEcCVvwF9w3gtrOnZAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEAAACaAAAAAAAAAABi/B0L0JGythwN1lY0aypo19NHxvLCyO5tBEcCVvwF9w3gtrOnY/wYAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAA==
          memo_type: none
          signatures:
          - Nfm+tMtbJTHOu+l4SCHCV9liNvw+GdX6+NcBAT6II2i3HZLSoO2c2mk3L2nSqWxe0orJmqfTfqQcwUZDtHEFDQ==
          - 6q5G8l5SJDy4Nw0ZScjFdPTFod73UlkcJWM8SbqP0GKKL3nin2jsy56v0H2Kmfo7hj7iiIX01tTHJ6qHVUmdDA==
          - b8YRy1v655/IS914/xXrV8K+90YJbsqgfuItfG29qcaT0LLJ21EYQjG7rqE91Qoptelc8Qpa+cACnlX5dCqNCQ==
          - 1PIrAH3iTIGONzOkXAwVW1uEe26Cj4Nh5Ao3XeNBSNZANKCKy0sT5MOvGXFbSqIiGX8aQ51Usy0bpiF9l5U5BQ==
        - _links:
            self:
              href: https://horizon-testnet.stellar.org/transactions/89a73db58ea426a1fb6d73a2de0786e2b84d6f284635de456336525fc3941779
            account:
              href: https://horizon-testnet.stellar.org/accounts/GAIH3ULLFQ4DGSECF2AR555KZ4KNDGEKN4AFI4SU2M7B43MGK3QJZNSR
            ledger:
              href: https://horizon-testnet.stellar.org/ledgers/157
            operations:
              href: https://horizon-testnet.stellar.org/transactions/89a73db58ea426a1fb6d73a2de0786e2b84d6f284635de456336525fc3941779/operations{?cursor,limit,order}
              templated: true
            effects:
              href: https://horizon-testnet.stellar.org/transactions/89a73db58ea426a1fb6d73a2de0786e2b84d6f284635de456336525fc3941779/effects{?cursor,limit,order}
              templated: true
            precedes:
              href: https://horizon-testnet.stellar.org/transactions?order=asc&cursor=674309869568
            succeeds:
              href: https://horizon-testnet.stellar.org/transactions?order=desc&cursor=674309869568
          id: 89a73db58ea426a1fb6d73a2de0786e2b84d6f284635de456336525fc3941779
          paging_token: 674309869568
          successful: true
          hash: 89a73db58ea426a1fb6d73a2de0786e2b84d6f284635de456336525fc3941779
          ledger: 157
          created_at: 2019-04-24T09:16:29Z
          source_account: GAIH3ULLFQ4DGSECF2AR555KZ4KNDGEKN4AFI4SU2M7B43MGK3QJZNSR
          source_account_sequence: 661424963585
          fee_paid: 100
          operation_count: 1
          envelope_xdr: AAAAABB90WssODNIgi6BHveqzxTRmIpvAFRyVNM+Hm2GVuCcAAAAZAAAAJoAAAABAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAvsM2ONeG//tjGaH8Favh0iP4U+kKpEdM8g1lrZBTscYAAAAXSHboAAAAAAAAAAABhlbgnAAAAECXNfA1wj9lC1Z6UIHNCRKu0XRb3uBKOeIluGBMJ9fonOY+FhBn48kTL5YxqtYesQpl79UjjVIvY3kkljpEm5wM
          result_xdr: AAAAAAAAAGQAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAA=
          result_meta_xdr: AAAAAQAAAAAAAAABAAAAAwAAAAMAAACdAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRXhdif+cAAAAmgAAAAEAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEAAACdAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRWEVExecAAAAmgAAAAEAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAACdAAAAAAAAAAC+wzY414b/+2MZofwVq+HSI/hT6QqkR0zyDWWtkFOxxgAAABdIdugAAAAAnQAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAA==
          fee_meta_xdr: AAAAAgAAAAMAAACaAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRXhdigAAAAAAmgAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEAAACdAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRXhdif+cAAAAmgAAAAEAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAA==
          memo_type: none
          signatures:
          - lzXwNcI/ZQtWelCBzQkSrtF0W97gSjniJbhgTCfX6JzmPhYQZ+PJEy+WMarWHrEKZe/VI41SL2N5JJY6RJucDA==
        - _links:
            self:
              href: https://horizon-testnet.stellar.org/transactions/45ec839948c9e4d942faac5817da23732f7fbfff94cbde8c24834ccecec03754
            account:
              href: https://horizon-testnet.stellar.org/accounts/GAIH3ULLFQ4DGSECF2AR555KZ4KNDGEKN4AFI4SU2M7B43MGK3QJZNSR
            ledger:
              href: https://horizon-testnet.stellar.org/ledgers/158
            operations:
              href: https://horizon-testnet.stellar.org/transactions/45ec839948c9e4d942faac5817da23732f7fbfff94cbde8c24834ccecec03754/operations{?cursor,limit,order}
              templated: true
            effects:
              href: https://horizon-testnet.stellar.org/transactions/45ec839948c9e4d942faac5817da23732f7fbfff94cbde8c24834ccecec03754/effects{?cursor,limit,order}
              templated: true
            precedes:
              href: https://horizon-testnet.stellar.org/transactions?order=asc&cursor=678604840960
            succeeds:
              href: https://horizon-testnet.stellar.org/transactions?order=desc&cursor=678604840960
          id: 45ec839948c9e4d942faac5817da23732f7fbfff94cbde8c24834ccecec03754
          paging_token: 678604840960
          successful: true
          hash: 45ec839948c9e4d942faac5817da23732f7fbfff94cbde8c24834ccecec03754
          ledger: 158
          created_at: 2019-04-24T09:16:34Z
          source_account: GAIH3ULLFQ4DGSECF2AR555KZ4KNDGEKN4AFI4SU2M7B43MGK3QJZNSR
          source_account_sequence: 661424963586
          fee_paid: 100
          operation_count: 1
          envelope_xdr: AAAAABB90WssODNIgi6BHveqzxTRmIpvAFRyVNM+Hm2GVuCcAAAAZAAAAJoAAAACAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAD59/jCCvieT2pQKTABq0kuccZyy96Qg3OBW/MQzm608AAAAXSHboAAAAAAAAAAABhlbgnAAAAED0QzzRVap6/C9N/6y8DG+5M5LyN7zgX80EzWJ27LvjT/Gl9Fk6VzKlnNf0WL62JGQBMKQOeNmY8qt1yOi7d2cC
          result_xdr: AAAAAAAAAGQAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAA=
          result_meta_xdr: AAAAAQAAAAAAAAABAAAAAwAAAAMAAACeAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRWEVExc4AAAAmgAAAAIAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEAAACeAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRUnMnC84AAAAmgAAAAIAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAACeAAAAAAAAAAAPn3+MIK+J5PalApMAGrSS5xxnLL3pCDc4Fb8xDObrTwAAABdIdugAAAAAngAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAA==
          fee_meta_xdr: AAAAAgAAAAMAAACdAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRWEVExecAAAAmgAAAAEAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEAAACeAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRWEVExc4AAAAmgAAAAIAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAA==
          memo_type: none
          signatures:
          - 9EM80VWqevwvTf+svAxvuTOS8je84F/NBM1iduy740/xpfRZOlcypZzX9Fi+tiRkATCkDnjZmPKrdcjou3dnAg==
        - _links:
            self:
              href: https://horizon-testnet.stellar.org/transactions/c8ac62c8f66ac8147345a71ed487064ab9fa3a04472b2b49cce285b3f76d9f0f
            account:
              href: https://horizon-testnet.stellar.org/accounts/GAIH3ULLFQ4DGSECF2AR555KZ4KNDGEKN4AFI4SU2M7B43MGK3QJZNSR
            ledger:
              href: https://horizon-testnet.stellar.org/ledgers/160
            operations:
              href: https://horizon-testnet.stellar.org/transactions/c8ac62c8f66ac8147345a71ed487064ab9fa3a04472b2b49cce285b3f76d9f0f/operations{?cursor,limit,order}
              templated: true
            effects:
              href: https://horizon-testnet.stellar.org/transactions/c8ac62c8f66ac8147345a71ed487064ab9fa3a04472b2b49cce285b3f76d9f0f/effects{?cursor,limit,order}
              templated: true
            precedes:
              href: https://horizon-testnet.stellar.org/transactions?order=asc&cursor=687194771456
            succeeds:
              href: https://horizon-testnet.stellar.org/transactions?order=desc&cursor=687194771456
          id: c8ac62c8f66ac8147345a71ed487064ab9fa3a04472b2b49cce285b3f76d9f0f
          paging_token: 687194771456
          successful: true
          hash: c8ac62c8f66ac8147345a71ed487064ab9fa3a04472b2b49cce285b3f76d9f0f
          ledger: 160
          created_at: 2019-04-24T09:16:43Z
          source_account: GAIH3ULLFQ4DGSECF2AR555KZ4KNDGEKN4AFI4SU2M7B43MGK3QJZNSR
          source_account_sequence: 661424963587
          fee_paid: 100
          operation_count: 1
          envelope_xdr: AAAAABB90WssODNIgi6BHveqzxTRmIpvAFRyVNM+Hm2GVuCcAAAAZAAAAJoAAAADAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAEtMC8HymGsVYldo41FEv3pjpY489Nse25pvpyJgFLCUAAAAXSHboAAAAAAAAAAABhlbgnAAAAECrZgMh0OSmWqJ9yHxMZBnU0lW23JsrHWxMcJuT9F5j/m219X8bGCmpiyzuIQymaHwFBXFsjlBH1fe3mruicQ8K
          result_xdr: AAAAAAAAAGQAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAA=
          result_meta_xdr: AAAAAQAAAAAAAAABAAAAAwAAAAMAAACgAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRUnMnC7UAAAAmgAAAAMAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEAAACgAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRTKEJUbUAAAAmgAAAAMAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAACgAAAAAAAAAAAS0wLwfKYaxViV2jjUUS/emOljjz02x7bmm+nImAUsJQAAABdIdugAAAAAoAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAA==
          fee_meta_xdr: AAAAAgAAAAMAAACeAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRUnMnC84AAAAmgAAAAIAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEAAACgAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRUnMnC7UAAAAmgAAAAMAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAA==
          memo_type: none
          signatures:
          - q2YDIdDkplqifch8TGQZ1NJVttybKx1sTHCbk/ReY/5ttfV/GxgpqYss7iEMpmh8BQVxbI5QR9X3t5q7onEPCg==
        - _links:
            self:
              href: https://horizon-testnet.stellar.org/transactions/d376cd3d99f633097f7d48588d6cc0221cf51c94104314affae0a28611f70c74
            account:
              href: https://horizon-testnet.stellar.org/accounts/GAIH3ULLFQ4DGSECF2AR555KZ4KNDGEKN4AFI4SU2M7B43MGK3QJZNSR
            ledger:
              href: https://horizon-testnet.stellar.org/ledgers/162
            operations:
              href: https://horizon-testnet.stellar.org/transactions/d376cd3d99f633097f7d48588d6cc0221cf51c94104314affae0a28611f70c74/operations{?cursor,limit,order}
              templated: true
            effects:
              href: https://horizon-testnet.stellar.org/transactions/d376cd3d99f633097f7d48588d6cc0221cf51c94104314affae0a28611f70c74/effects{?cursor,limit,order}
              templated: true
            precedes:
              href: https://horizon-testnet.stellar.org/transactions?order=asc&cursor=695784706048
            succeeds:
              href: https://horizon-testnet.stellar.org/transactions?order=desc&cursor=695784706048
          id: d376cd3d99f633097f7d48588d6cc0221cf51c94104314affae0a28611f70c74
          paging_token: 695784706048
          successful: true
          hash: d376cd3d99f633097f7d48588d6cc0221cf51c94104314affae0a28611f70c74
          ledger: 162
          created_at: 2019-04-24T09:16:53Z
          source_account: GAIH3ULLFQ4DGSECF2AR555KZ4KNDGEKN4AFI4SU2M7B43MGK3QJZNSR
          source_account_sequence: 661424963588
          fee_paid: 100
          operation_count: 1
          envelope_xdr: AAAAABB90WssODNIgi6BHveqzxTRmIpvAFRyVNM+Hm2GVuCcAAAAZAAAAJoAAAAEAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAADe+GT52cMxN4GhZ3thd8RonUhcj/rCxPDl6b9+/Edp8AAAAXSHboAAAAAAAAAAABhlbgnAAAAEAYVrkBpE+jEiMwsXOlVYW9p+NcHFoLqTEyXdgA0yrI5VBQ8Yt3mgLiBLbYGEq9bQvzkoKhfZqRuxHZU1GJX00B
          result_xdr: AAAAAAAAAGQAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAA=
          result_meta_xdr: AAAAAQAAAAAAAAABAAAAAwAAAAMAAACiAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRTKEJUZwAAAAmgAAAAQAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEAAACiAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRRs7rl5wAAAAmgAAAAQAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAACiAAAAAAAAAAAN74ZPnZwzE3gaFne2F3xGidSFyP+sLE8OXpv378R2nwAAABdIdugAAAAAogAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAA==
          fee_meta_xdr: AAAAAgAAAAMAAACgAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRTKEJUbUAAAAmgAAAAMAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEAAACiAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRTKEJUZwAAAAmgAAAAQAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAA==
          memo_type: none
          signatures:
          - GFa5AaRPoxIjMLFzpVWFvafjXBxaC6kxMl3YANMqyOVQUPGLd5oC4gS22BhKvW0L85KCoX2akbsR2VNRiV9NAQ==
        - _links:
            self:
              href: https://horizon-testnet.stellar.org/transactions/de4f3a584bbea4f3c5348ef24f66b664cbeff7ffb6fec741b05ac6cc6f9914ce
            account:
              href: https://horizon-testnet.stellar.org/accounts/GAIH3ULLFQ4DGSECF2AR555KZ4KNDGEKN4AFI4SU2M7B43MGK3QJZNSR
            ledger:
              href: https://horizon-testnet.stellar.org/ledgers/164
            operations:
              href: https://horizon-testnet.stellar.org/transactions/de4f3a584bbea4f3c5348ef24f66b664cbeff7ffb6fec741b05ac6cc6f9914ce/operations{?cursor,limit,order}
              templated: true
            effects:
              href: https://horizon-testnet.stellar.org/transactions/de4f3a584bbea4f3c5348ef24f66b664cbeff7ffb6fec741b05ac6cc6f9914ce/effects{?cursor,limit,order}
              templated: true
            precedes:
              href: https://horizon-testnet.stellar.org/transactions?order=asc&cursor=704374640640
            succeeds:
              href: https://horizon-testnet.stellar.org/transactions?order=desc&cursor=704374640640
          id: de4f3a584bbea4f3c5348ef24f66b664cbeff7ffb6fec741b05ac6cc6f9914ce
          paging_token: 704374640640
          successful: true
          hash: de4f3a584bbea4f3c5348ef24f66b664cbeff7ffb6fec741b05ac6cc6f9914ce
          ledger: 164
          created_at: 2019-04-24T09:17:06Z
          source_account: GAIH3ULLFQ4DGSECF2AR555KZ4KNDGEKN4AFI4SU2M7B43MGK3QJZNSR
          source_account_sequence: 661424963589
          fee_paid: 100
          operation_count: 1
          envelope_xdr: AAAAABB90WssODNIgi6BHveqzxTRmIpvAFRyVNM+Hm2GVuCcAAAAZAAAAJoAAAAFAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAA0VL6iKMibQu/4Vm9JdwK03axQjU06rBIvMv45Lp6kQkAAAAXSHboAAAAAAAAAAABhlbgnAAAAEBoKC9lZ+LSAfpLv0fI9WIaRx0SfiARrfsJJxOpqvrwVW5VdSo1RY0uVWkieDJ3xk7pGGRtK9xJhr+IenrWlLsG
          result_xdr: AAAAAAAAAGQAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAA=
          result_meta_xdr: AAAAAQAAAAAAAAABAAAAAwAAAAMAAACkAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRRs7rl4MAAAAmgAAAAUAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEAAACkAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRQPzN3YMAAAAmgAAAAUAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAACkAAAAAAAAAADRUvqIoyJtC7/hWb0l3ArTdrFCNTTqsEi8y/jkunqRCQAAABdIdugAAAAApAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAA==
          fee_meta_xdr: AAAAAgAAAAMAAACiAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRRs7rl5wAAAAmgAAAAQAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEAAACkAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRRs7rl4MAAAAmgAAAAUAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAA==
          memo_type: none
          signatures:
          - aCgvZWfi0gH6S79HyPViGkcdEn4gEa37CScTqar68FVuVXUqNUWNLlVpIngyd8ZO6RhkbSvcSYa/iHp61pS7Bg==
        - _links:
            self:
              href: https://horizon-testnet.stellar.org/transactions/fd4a49fa8309c0653fe60ca0199fb9d3c989dd0c3a27c367c247bbb9f0b71f84
            account:
              href: https://horizon-testnet.stellar.org/accounts/GAIH3ULLFQ4DGSECF2AR555KZ4KNDGEKN4AFI4SU2M7B43MGK3QJZNSR
            ledger:
              href: https://horizon-testnet.stellar.org/ledgers/165
            operations:
              href: https://horizon-testnet.stellar.org/transactions/fd4a49fa8309c0653fe60ca0199fb9d3c989dd0c3a27c367c247bbb9f0b71f84/operations{?cursor,limit,order}
              templated: true
            effects:
              href: https://horizon-testnet.stellar.org/transactions/fd4a49fa8309c0653fe60ca0199fb9d3c989dd0c3a27c367c247bbb9f0b71f84/effects{?cursor,limit,order}
              templated: true
            precedes:
              href: https://horizon-testnet.stellar.org/transactions?order=asc&cursor=708669607936
            succeeds:
              href: https://horizon-testnet.stellar.org/transactions?order=desc&cursor=708669607936
          id: fd4a49fa8309c0653fe60ca0199fb9d3c989dd0c3a27c367c247bbb9f0b71f84
          paging_token: 708669607936
          successful: true
          hash: fd4a49fa8309c0653fe60ca0199fb9d3c989dd0c3a27c367c247bbb9f0b71f84
          ledger: 165
          created_at: 2019-04-24T09:17:12Z
          source_account: GAIH3ULLFQ4DGSECF2AR555KZ4KNDGEKN4AFI4SU2M7B43MGK3QJZNSR
          source_account_sequence: 661424963590
          fee_paid: 100
          operation_count: 1
          envelope_xdr: AAAAABB90WssODNIgi6BHveqzxTRmIpvAFRyVNM+Hm2GVuCcAAAAZAAAAJoAAAAGAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAA6ti7+/QP0SYEmbd5kIlUdOHnm4MO21X9nXivdjX663MAAAAXSHboAAAAAAAAAAABhlbgnAAAAEAF/FJdHfbH17FYZ88o7b8krNGie7HfxIUtrW6tKF7ujVyxDcidUcBUfxH3mtAQjP5iCLpMXTeYVuys18C9/6EF
          result_xdr: AAAAAAAAAGQAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAA=
          result_meta_xdr: AAAAAQAAAAAAAAABAAAAAwAAAAMAAAClAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRQPzN3WoAAAAmgAAAAYAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEAAAClAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjROyqwI2oAAAAmgAAAAYAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAClAAAAAAAAAADq2Lv79A/RJgSZt3mQiVR04eebgw7bVf2deK92NfrrcwAAABdIdugAAAAApQAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAA==
          fee_meta_xdr: AAAAAgAAAAMAAACkAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRQPzN3YMAAAAmgAAAAUAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEAAAClAAAAAAAAAAAQfdFrLDgzSIIugR73qs8U0ZiKbwBUclTTPh5thlbgnAFjRQPzN3WoAAAAmgAAAAYAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAA==
          memo_type: none
          signatures:
          - BfxSXR32x9exWGfPKO2/JKzRonux38SFLa1urShe7o1csQ3InVHAVH8R95rQEIz+Ygi6TF03mFbsrNfAvf+hBQ==
        - _links:
            self:
              href: https://horizon-testnet.stellar.org/transactions/ec5e614dcd3ebe69e533666f4c68f3958af463b15b6e32080d191cf5bfb4b132
            account:
              href: https://horizon-testnet.stellar.org/accounts/GAIH3ULLFQ4DGSECF2AR555KZ4KNDGEKN4AFI4SU2M7B43MGK3QJZNSR
            ledger:
              href: https://horizon-testnet.stellar.org/ledgers/166
            operations:
              href: https://horizon-testnet.stellar.org/transactions/ec5e614dcd3ebe69e533666f4c68f3958af463b15b6e32080d191cf5bfb4b132/operations{?cursor,limit,order}
              templated: true
            effects:
              href: https://horizon-testnet.stellar.org/transactions/ec5e614dcd3ebe69e533666f4c68f3958af463b15b6e32080d191cf5bfb4b132/effects{?cursor,limit,order}
[...]
